[2015-11-14 11:23] tomekwi opened #1 "--open"
I’m thinking of an `--open` option. We can use http://ghub.io/opn to open the served website in the default  browser (or another one).

[2015-11-14 13:25] berndca opened #2 "Syntax error in node v0.12.7"
elm-live/bin/elm-live.js:25
    reactor.on('error', (error) => {
                                ^^
    SyntaxError: Unexpected token =>
        at exports.runInThisContext (vm.js:73:16)
        at Module._compile (module.js:443:25)
        at Object.Module._extensions..js (module.js:478:10)

[2015-11-14 14:07] berndca commented on #2
I compiled elm-live.js to ES5. Works well, thanks!

[2015-11-14 19:09] tomekwi commented on #2
Oops, sorry! I wanted to skip the build step – and in the end I’ve forgotten to document it.

I’ve put warnings where necessary now: @167a229 @d17d43e.

Thanks for the catch! Great to hear that it works transpiled!

[2015-11-14 19:09] #2 closed

[2015-11-14 19:10] tomekwi opened #3 "Hot reloading?"
Let’s see if it’s possible!

https://twitter.com/mrundberget/status/665555634327261184

[2016-02-12 15:56] tomekwi opened #4 "Don’t depend on elm reactor"
As we’ve found out in https://github.com/elm-lang/elm-reactor/issues/178, *elm reactor* is broken on some platforms.

No shame on *elm reactor* – it’s obviously a tremendous piece of code with rocket science under the hood!

I’ve written *elm live* because I wanted something simple and flexible. Let’s make it even simpler by using *elm make* directly under the hood. We’ll serve the files ourselves

[2016-02-12 15:58] tomekwi commented on #3
Replacing `elm.js` won’t preserve state because JS references would be reset.

I don’t know the topic well enough to tackle it myself. I guess that *elm reactor* is the better tool for the job here.

[2016-02-12 15:58] #3 closed

[2016-02-13 20:38] tomekwi commented on #4
Released in v2.0.0.

[2016-02-13 20:38] #4 closed

[2016-02-13 20:38] tomekwi commented on #1
Released in v2.0.0.

[2016-02-13 20:38] #1 closed

[2016-03-25 01:06] bdukes opened #6 "Windows support - can't find elm-make"
Using `child_process.spawnSync` on Windows doesn't work very well, because npm generates a `.cmd` file to reference e.g. `elm` and `elm-make`, but the built-in `spawn` behavior doesn't work for `.cmd` files.  So, while I can run `elm-make` just fine from a command line, `elm-live` can't find it.  The simple fix for this is to use the [cross-spawn](https://www.npmjs.com/package/cross-spawn) package

[2016-03-25 01:07] bdukes opened #7 "Windows support - help doesn't work"
Running `elm-make --help` in Windows doesn't do anything, since it's shelling out to `man`, which is a *nix program.

[2016-03-25 02:13] bdukes opened #8 "Remove dependency on prova"
The [prova](https://www.npmjs.com/package/prova) package was recently unpublished (see https://medium.com/@azerbike/i-ve-just-liberated-my-modules-9045c06be67c and http://blog.npmjs.org/post/141577284765/kik-left-pad-and-npm), so `npm install` now fails for the module (though only for development on the module itself, since it's a dev dependency).

[2016-03-25 02:15] bdukes commented on #8
Or, rather than removing the dependency, you could take a dependency on the GitHub repo directly.

[2016-03-25 07:00] tomekwi commented on #7
Thanks for reporting! Do you use `cmd` or a Unix-flavored shell like Git Bash or cygwin?

While I don’t have a windows box to test this, I remember calling `git help …` or `npm help …` in Git Bash (which is basically [msys](http://www.mingw.org/wiki/msys)) on friends’ computers. Both commands worked by displaying the manpage rendered as HTML in a browser. Both commands spawn `man` under the hood

[2016-03-25 08:13] #8 closed

[2016-03-25 14:39] bdukes commented on #7
I typically use PowerShell, but even using the bash or mintty shells that come with Git, I get an error that "man" is not recognized.

I believe `git help` just opens pre-rendered HTML, I don't think it's processing a manfile in real time.

[2016-03-25 20:18] tomekwi commented on #7
Alright, I believe the only reasonable thing is to render a plain text fallback then. I’ll try to tackle this on Wendesday – I’m afraid I won’t have time before then.

[2016-03-25 20:19] #6 closed

[2016-03-25 20:33] tomekwi opened #11 "File watching and `--open` broken on Windows"
As mentioned by @bdukes in https://github.com/tomekwi/elm-live/pull/10#issue-143414822 and https://github.com/tomekwi/elm-live/pull/10#issuecomment-201342084, we seem to have problems watching stuff and opening the browser.

[2016-03-27 02:13] bdukes commented on #11
I've been doing some testing on this, and it appears to be related to _gaze_ taking forever to start watching all the files.  If I adjust the glob that's passed to avoid including `elm-stuff/`, then it takes about a minute to get started, otherwise I've left it running for tens of minutes without the server starting.  One small help would be to start gaze asynchronously, so it doesn't block the se

[2016-03-27 12:24] bdukes commented on #11
Looks like I exaggerated to myself a bit.  I added some timing, and it takes 7-8 minutes to start when `elm-stuff` is included.

[2016-03-29 14:08] bdukes commented on #11
Are you attached to using _gaze_?  Since _budo_  has watching built in, I looked at what it's using, _[chokidar](https://github.com/paulmillr/chokidar)_, and it appears to work much better (probably mostly because it's async, not blocking).  I can submit a PR with that change, so long as there's not a specific reason you were using _gaze_.

[2016-03-29 18:54] tomekwi commented on #11
Hi @bdukes, and thanks for all your investigation. I’m absolutely not attached to using *gaze* and I’ve seen other fine libs and programs use *chokidar*. I’ll have a look at how it works right away.

However, I’m a bit surprized the *gaze* call blocks. Have a look at [source/elm-live.js:111](https://github.com/tomekwi/elm-live/blob/6b02990f64352556692eb48d953a6ab37f315a9d/source/elm-live.js#L111)

[2016-03-29 19:36] bdukes commented on #11
Based on what I've seen, the server doesn't start connecting until later (i.e. it's using asynchronous APIs).  Since the `gaze` call blocks, control isn't returned to the event loop to allow the server a chance to do the rest of its work.  The timing of it was that the first build _does_ succeed, and I could log the `server` instance created from calling `budo`, but the server wouldn't start up (n

[2016-03-29 21:29] #11 closed

[2016-03-31 22:30] tomekwi opened #18 "Make the path to elm-make explicitly configurable"
The reasoning lives here: https://github.com/rtfeldman/elm-webpack-loader/issues/43#issuecomment-204156536.

[2016-04-03 22:03] #7 closed

[2016-04-13 18:20] hiaw opened #23 "elm-live not detecting file changes"
elm-live was working for me and then it suddenly stop detecting file changes. I tried saving changes with Textmate, Emacs but it's just not detecting it.

The only significant thing happened in between is that I install MacTex and added `/Library/Tex/texbin` to the `PATH` environmental variable. But I can't imagine how that should affect it.

Is there a way I can debug this?

[2016-04-13 18:22] hiaw commented on #23
Never mind. I saved my file as `.Elm` instead of `.elm`

[2016-04-13 18:22] #23 closed

[2016-04-13 20:18] tomekwi commented on #23
Thanks for letting me know! Glad that it worked out in the end :smiley:.

[2016-05-26 18:42] MattMcFarland opened #33 "2.2.1 in npm does not have host option"
Hi, can you please publish a new version to npm?  The latest right now does not have the `--host` changes.  Was really confused..

[2016-05-26 18:53] tomekwi commented on #33
I’ll do it tomorrow if you’re okay to wait.

[2016-05-26 19:20] MattMcFarland commented on #33
Yeah, thanks! In the meantime I'm just npm installing the github repo, but `--port` is not working either, it is actually trying to pass `--port` to `elm make` instead...

[2016-05-27 10:36] tomekwi commented on #33
I’ve released this as v2.3.0 right now.

Yeah, unit tests are definitely [there](https://github.com/tomekwi/elm-live/blob/master/test.js). We’re doing our best to have 100% coverage. I’ve never noticed the problem with `--port` you’ve mentioned. If you manage to reproduce this with a unit test, it’d be wonderful! Perhaps it’s a question of `--port=PORT` vs `--port PORT` (we don’t support the latte

[2016-05-27 10:36] #33 closed

[2016-06-28 00:10] martinos opened #36 "Display error message"
I am wondering if there is a way to display the error message in the browser? I personally really enjoyed when the errors were displayed.

[2016-06-28 10:40] tomekwi commented on #36
Hello, thanks a lot for the feedback! However, unless *elm-make* supports such a feature, I don’t think this is doable within the scope of this project. This is just glue code between *elm-make* and the filesystem. Really sorry for this.

You should look at *elm-reactor* though if you want tighter integration with the browser. The reason this project was created in the first place is that *elm-rea

[2016-06-30 05:16] martinos commented on #36
Thanks for your response, I have been enjoying elm-live a lot. It gives a very nice workflow, I don't even have to run the compiler in my editor. I just need to look at the browser and see the change live.

Not having a notification when the compiler failed was a bit annoying but I have just added triggers to iterm2 (on OS X) which now notifies me on errors. Now I am having a blast developing in E

[2016-06-30 12:40] tomekwi commented on #36
# 😄

[2016-06-30 12:40] #36 closed

[2016-06-30 12:40] tomekwi commented on #36
Thanks for your kind words! I’m glad it helps!

[2016-07-02 16:57] tomekwi commented on #18
Released in v2.4.0.

[2016-07-02 16:57] #18 closed

[2016-07-09 11:00] architectcodes opened #41 "Debounce updates"
At the moment, the project gets rebuilt once for every file that got changed, removed or added. This works well during normal development, but when installing, updating or uninstalling a package, this often means dozens of wasteful rebuilds when only one would do the job.

[2016-10-04 00:07] peacememories opened #67 "Allow for commands to be executed on rebuild"
Hi, and first of all thanks for this wonderful tool :)

It would be nice to be able to specify a command that is run every time the code is rebuilt (ideally before the live-reload)

This would allow people to use tools like elm-css with the dev server, running the elm-css command every time the code changes.

[2016-10-04 07:54] tomekwi commented on #67
Hey, great idea! I’ve been thinking about this myself 🙂

It’s very likely I’ll be setting up another project with elm-live soon – if that’s the case, I’ll surely extend elm-live to cover this.

Until then, I’m afraid I can’t do much to make this happen myself – a PR would be much appreciated though 😀

[2016-10-04 11:29] peacememories commented on #67
I'm looking into writing a PR, and I've got a few questions :)
* Is it okay to put the code into the build() function? Seems to be the place to put it from my perspective
* `cross-spawn` doesn't seem to implement an exec-function (point being to supply a full command with the `--on-build` option. Are there any objections to adding child_process? Alternative would be to manually extract the executa

[2016-10-04 12:09] tomekwi commented on #67
Hey Gabriel, thanks a lot for your help and enthusiasm! As for your questions,

Yep, seems like the right place to put it. I’ve been doing my best to make any error messages as helpful and beautiful as possible (in line with the compiler). Please look around and try to match the output in tone and style.

`cross-spawn` came there as we introduced Windows support. I can’t remember what the reason w

[2016-10-04 12:11] tomekwi commented on #67
Of course, if you have any more question, I’ll be more than happy to help 🙂

[2016-10-04 14:02] bdukes commented on #67
@peacememories, the main thing that we're getting from `cross-spawn` is escaping arguments and using default extensions (e.g. finding `elm-make.cmd` when I ask to run `elm-make`).  If you're passing in a command line yourself, I'd be okay with that going through `child_process.exec`, since individual users can control how they're passing that argument (e.g. adding `.cmd` manually).

Hope it helps!

[2016-10-04 14:15] peacememories commented on #67
@bdukes thanks for the answer :) Then I'll implement it using child_process for the time being I think.

[2016-10-04 15:23] peacememories commented on #67
I think I'll move discussion on how to implement this into a WIP pull request if that's okay with you.

[2016-10-04 19:57] tomekwi commented on #67
👍 Thanks for your help so far!

[2016-10-06 15:50] peacememories opened #69 "Prepublish hook is not executable without `sh`"
While testing code for `elm-live` I've noticed publishing (or in this case `npm link`-ing) the repository on Windows fails because the prepublish hook is written in shellscript.
One way around this would be to use something like shelljs and port the script to a javascript file.

[2016-10-06 20:38] architectcodes opened #70 "Support for multiple arguments in `--before-build`"
We made [a conscious decision](https://github.com/tomekwi/elm-live/pull/68#issuecomment-251651029) to roll out an MVP `--before-build` and wait for feedback from our users. There are two options to take this further:
- Run the command inside a subshell, like this:

[code]

  This would probably feel pretty familiar for most of us. But this comes at a cost of poorer performance and implicitness (Wh

[2016-10-06 20:39] tomekwi commented on #70
subshell

[2016-10-06 20:40] tomekwi commented on #70
direct

[2016-10-06 20:55] tomekwi commented on #69
Yeah, well to be honest the prepublish hook also uses `man` to compile the help. So it’s very unlikely we can get it to run natively on Windows.

So far we’ve been getting around this by only releasing from a Unix computer. Releasing from a CI server instead seems to be the way to go – if anyone wants to help, we’ll very much appreciate it!

[2016-10-13 02:54] #67 closed

[2016-10-15 18:42] thebritican opened #72 "Watching Elm files in a sibling directory"
Hey! Great work, I ❤️  elm-live!

But now to my question:

A common library project structure is to have a `demo` or `examples` folder with its own `elm-package.json` and then another `elm-package.json` at the root level for your library.

[code]

When I run `elm-live` in the root folder, and direct it to the `Main.elm` in my `examples` folder, it properly watches both my library elm code _and_ my

[2016-10-18 16:11] nicklawls opened #74 "Watching symlinked files results in infinite loop"
First things first, elm-live is awesome! I see at as an integral part of the elm experience.

Here's my issue

My directory structure looks something like this:

[code]

Notice the `foo -> ../static/`, which denotes that `foo` is a symlinked copy of `static` from the parent directory.

when I run `elm-live src/Foobar.elm --output=static/Foobar/app.js --dir=./static` It gets caught in an infinite l

[2016-10-24 07:28] tomekwi commented on #72
Hey Greg, thanks a lot for reporting – and sorry for taking so long to respond.

Let me ask something to understand your use case better. Why do you need to run `elm-live` inside the `examples` directory?

[2016-10-24 07:55] tomekwi commented on #74
Hey man, thanks a lot for reporting this. I’m pretty surprised this happens, because elm-live is designed to [only watch `*.elm` files](https://github.com/tomekwi/elm-live/blob/b8670829b49a4e5c63cf33a3d86e85fb5d6fedfa/source/elm-live.js#L187). If you can hack together a quick solution to your problem, I’ll be happy to help you turn it into a well-tested PR.

Also, it’d be good if you keep an eye o

[2016-10-26 01:43] erlandsona opened #75 "Browsersync / HMR"
I ❤️ elm-live! I was seriously struggling with a webpack config before I found this and it has greatly simplified my workflow.

That said, I found in the ether of githubz, there's another tool called [elm-server](https://github.com/maxgurewitz/elm-server) which is a similar approach to the elm-live setup only it uses browsersync.

Granted, it doesn't have you're before-build hook so it won't compi

[2016-10-29 00:07] thebritican commented on #72
I'm not sure that the glob would be helpful, since it's always elm files we want to watch, correct? I say start with the simpler option and then if someone needs a glob we consider it then

[2016-11-02 18:12] tomekwi commented on #75
Hey Austin, many thanks for the kind words! I’m really glad you like it.

Just a quick note to let you know I’m aware of your question, but don’t know the exact answer yet. Hot reloading is a very interesting topic, but it looks like Elm 0.18 will really change the game in that matter. More about that in the elm-conf keynote by Evan – definitely worth watching if you haven’t already! [youtu.be/DSj

[2016-11-17 13:19] witoldsz commented on #70
`direct` can be problematic when one would like to use shell specific stuff like pipes, redirects, etc…

[2016-11-23 20:04] tomekwi commented on #70
@witoldsz Thanks for sharing your thoughts! It’s true, but I would argue you can put shell-specific syntax in a shell-specific executable.

Accepting shell-specific syntax would introduce the ambiguity I mentioned: which shell do we use to run that? Also, if people want to share elm-live snippets, I’d rather they always work – not only in specific shells.

[2016-11-23 21:09] witoldsz commented on #70
"scripts" section of package.js (NPM) works fine, cross-platform, so this could work just fine. Also, most common things like pipes and redirects works everywhere (I guess)…

[2016-11-24 05:15] tomekwi commented on #70
Yeah, the scripts section works just fine – but many scripts don’t work cross-platform. I’ve worked in a cross-platform team before and npm scripts were one of the biggest pain points to keep portable. Despite following https://github.com/mattdesl/module-best-practices#task-running (I even helped write most of that), we constantly had to jump through hoops to keep it all humming along.

Even in a

[2016-11-30 14:59] Neats29 opened #86 "Question: how can I run Nodejs server and elm-live on the same port"
Many thanks for making this helpful package. I had a question.

I have a Nodejs backend that is serving a html file compiled from Elm. I have the server running on one port and elm-live running on another port successfully, but what I'd like is to be able to run both on the same port. At the moment when I try this, I have to refresh the page to see the elm changes. How can I achieve this?

Thanks

[2016-12-04 08:03] thebritican commented on #72
hey! any news here? Is `--watch` a good idea?

[2016-12-08 22:32] tomekwi commented on #86
Hey man, good question!

So technically, elm-live takes two ports to work – one for serving static files, another with a LiveReload server pushing info about updates to the browser. The static HTML file gets a JS snippet injected via [inject-lr-script](https://github.com/mattdesl/inject-lr-script). That’s how the browser gets the heads up that it’s time to reload.

At the moment the port at which

[2016-12-08 22:34] tomekwi commented on #72
Yeah, absolutely!

At the moment, I’m completely overwhelmed with work and other things going on in my life, so I can’t promise to implement this right away. But if you want things to go faster, please feel free to jump in with a PR! We’d be super grateful for that 😀

[2016-12-08 22:49] thebritican commented on #72
sweet i'll look into it this weekend :)

[2016-12-08 22:57] tomekwi commented on #72
Woow, tremendous! So nice to hear man! 😀

[2016-12-10 07:28] sentience opened #88 "elm-live requires Node v6+ to run natively"
The README says Node 4+ is required to run elm-live natively; however, on both 4.x and 5.x I get this error when running it:

[code]

Running it with Node v6.x works fine. I suggest updating the README to specify Node v6+ is required.

[2016-12-10 17:43] tomekwi commented on #88
Thanks a lot for the heads up, just updated the readme. 🙂

[2016-12-10 17:43] #88 closed

[2016-12-11 18:15] samueller opened #89 "Possible to live rebuild more than 1 Elm file?"
I have different `.elm` files that correspond to different webpages. As an example, I might have an `Index.elm` file that gets compiled and referenced in `index.html` and I have a `Dashboard.elm` file for `dashboard.html`. I run `elm-live` with:
[code]
Works great for `Index.elm`, but changes to `Dashboard.elm` do not get recompiled. Is there a way to have both files auto-rebuild?

[2016-12-14 21:12] tomekwi commented on #89
Good question! I don’t think it’s possible at the moment. Can you suggest a reasonable API for this? Keep in mind that elm-live is intentionally a very slim wrapper over elm-make, so `elm-live Index.elm --output=public/elm/index.js` is _almost_ the same as `elm-make Index.elm --output=public/elm/index.js`. This allows us to be very intuitive and future-proof. For example, when Elm 0.18 came out, w

[2016-12-15 05:44] samueller commented on #89
Makes sense for elm-live to be a slim wrapper over elm-make. One option is to run elm-live with a list of `.elm` and output `.js` file pairs:
[code]
Any `.elm` file changes and *both* `Index.elm` **and** `Dashboard.elm` get recompiled with the corresponding elm-make commands. Hopefully, elm-make is able to recognize not to compile when the dependent `.elm` files have an earlier timestamp than the

[2016-12-15 08:47] tomekwi commented on #89
Looks good! Intuitive and unambiguous, at first sight.

I don’t think that’s the case. With the current design of elm-live and elm-make, this would probably mean recompiling both files every time an `.elm` file changes.

On a positive note though, elm-make is smart enough to precompile modules and use the precompiled version if there were no changes to the source file in the meantime. So although

[2016-12-15 08:51] tomekwi commented on #89
To be totally honest with you, there’s a lot happening in my life right now and I likely won’t be able to pick this up very soon. elm-live is a [very open](https://github.com/tomekwi/elm-live/pulls?utf8=%E2%9C%93&q=is%3Apr%20-author%3Agreenkeeperio-bot%20) project though, so you’re more than welcome to contribute! I always find the time for reviewing stuff 🙂

[2016-12-15 08:55] tomekwi commented on #70
Poll results:

<img width="783" alt="support_for_multiple_arguments_in_ --before-build _ _issue__70_ _tomekwi_elm-live" src="https://cloud.githubusercontent.com/assets/4624660/21217379/2afed0c2-c2ac-11e6-81b8-b39921648eb5.png">

Seems like the direct option wins! I’d love to pick this up as soon as possible, this is a really nice feature! But it’s quite a crazy moment in my life – lots of things g

[2016-12-17 21:09] witoldsz commented on #70
It could be worth mentioning that as a workaround for those who need some kind of shell, the "direct" can be ised this way: `[ bash -c 'shell commands, scripts, pipes, etc. go here' ]`.

[2016-12-18 22:14] tomekwi commented on #70
Great suggestion @witoldsz!

[2017-01-04 18:59] clarkware opened #92 "Need strict mode for debounce.js?"
I upgraded from 2.6.0 to 2.6.1 and started getting the following error:

/usr/local/lib/node_modules/elm-live/source/debounce.js:4
  let timeout;
  ^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

I appears that debounce.js was added in 2.6.1.

[2017-01-05 20:33] tomekwi commented on #92
Hey @clarkware, thanks a lot for the report! May I ask what version of node you’re running on? After merging this change, I also [updated the heads-up note](https://github.com/tomekwi/elm-live/commit/9d337675596a9c4655fabe8176627e8fa0a3c358) – you now need node 6+ to run elm-live natively.

Sorry for the surprise – and let me know if it helped 🙂

[2017-01-05 20:41] clarkware commented on #92
Thanks for the quick response, @tomekwi. I was getting the error using Node v5.4.0. Upgrading to Node 6 indeed fixed it. Thanks!

[2017-01-05 20:43] tomekwi commented on #92
To prevent such things in the future, I just released a patch fixing the `engines` field in the `package.json`. Unfortunately, npm has some [convoluted logic](http://www.marcusoft.net/2015/03/packagejson-and-engines-and-enginestrict.html#using-the-engines-configurations) which causes that setting to be ignored, but yarn does the job perfectly:

[code]

[2017-01-05 20:44] tomekwi commented on #92
Fixed in 2.6.2 🙂

[2017-01-05 20:44] #92 closed

[2017-01-09 09:17] tomekwi opened #94 "Default host to `0.0.0.0`"
I find myself adding `--host=0.0.0.0` to almost every project, to be able to test my stuff on other computers in the network. I think this would make for a reasonable default, especially that it doesn’t break the current defaults (works with http://localhost and the local IP).

Is there anything I should keep in mind / watch out for?

[2017-01-09 10:20] tomekwi commented on #74
Just managed to reproduce the issue! 🎉

@nicklawls could you please check if this patch helps? https://github.com/tomekwi/elm-live/commit/55acbb07c343678a5719d34d17928caf7b9c0880

[2017-01-11 14:15] tomekwi commented on #74
Just checked this patch out on a real project, works like wonders. Will be merging this in a sec.

[2017-01-11 14:18] tomekwi commented on #74
🎉

Fix released in v2.7.4.

[2017-01-11 14:18] #74 closed

[2017-01-11 18:39] nicklawls commented on #74
Thanks for fixing this Tomek! Sorry I wasn't able to help

On Wed, Jan 11, 2017 at 9:18 AM Tomek Wiszniewski <notifications@github.com>
wrote:

[2017-01-11 18:45] tomekwi commented on #74
Did it solve your issue? If not, give me a shout and I’ll reopen 🙂

[2017-01-11 18:56] nicklawls commented on #74
I changed my directory structure (for a couple different reasons) so that
there were no symlinks, so I can't test it against my original use case.
But if I encounter it again I will definitely let you know!
On Wed, Jan 11, 2017 at 1:45 PM Tomek Wiszniewski <notifications@github.com>
wrote:

[2017-01-13 06:09] FMCorz commented on #94
I personally think the safer the better. Unless I'm mistaken the default for `elm-reactor` is also not allowing `0.0.0.0` by default.

[2017-01-13 12:19] tomekwi commented on #94
Good point, let’s leave this open and see if we get other opinions.

[2017-01-13 12:52] simonewebdesign commented on #94
Here's a similar discussion happened on [elm-reactor](https://github.com/elm-lang/elm-reactor/pull/99), looks like people tend to prefer localhost because it's safer.

[2017-01-13 21:53] tomekwi commented on #94
Thanks a lot, super interesting link!

Now, that’s a very strong sign the community prefers the safer default. Thanks for the feedback again!

[2017-01-13 21:53] #94 closed

[2017-01-19 19:42] ChristophP opened #97 "elm-live slow on linux and leaks memory"
Hi everyone,

I am using elm-live on my ubuntu machine. Whenever I change a file and elm-live tries to reload the page after recompiling it takes a very long time to reload(~30s) also I notice that my systems memory consumption goes up. After a while everything crashes.

Funny thing is, at work I use a Mac. I did not have any problems there at all.
I am using a globally installed elm-live on both

[2017-01-20 20:01] ChristophP commented on #97
When it crashes this it the console output.
[code]

[2017-01-20 20:03] ChristophP commented on #97
More Details: I am run this command `elm-live Main.elm --open --pushstate --output=public/elm.js -- --debug` through npm start. Node Version `6.9.2`, npm version `3.10.9` any help appreciated.

[2017-01-25 09:37] tomekwi commented on #97
Hey man, I’m sorry you’re experiencing this. I used elm-live on Fedora a lot back in the day – and nothing worrying happened.

One thing comes to mind though. IIRC, we used [gaze](https://www.npmjs.com/package/gaze) for file watching before we switched to [chokidar](https://www.npmjs.com/package/chokidar). Don’t remember what the issue was back then, but I’ll go ahead and find the conversation for

[2017-01-25 09:44] tomekwi commented on #97
Found the PR: https://github.com/tomekwi/elm-live/pull/16. The problem it tackled though was very different and I doubt it’s related to the problem you’ve posted.

Just one more question: did you build node yourself, install it from apt repos, or are you using official builds through something like [nvm](https://www.npmjs.com/package/nvm) or [n](https://www.npmjs.com/package/n)?

[2017-01-28 12:54] ChristophP commented on #97
Hey thanks for your reply. I checked the other thread but yeah i am also not sure that it's a related problem. I installed node via apt repos and am not using nvm.
I have a hard time reproducing the behavior consistently though. Just recently I had a similar issue with a non elm project that used a the `watch` package for file watching. It worked on the mac and crashed on ubuntu. I figured out tha

[2017-02-02 21:35] tomekwi commented on #97
I remember having weird problems when a friend compiled node from source on gentoo (or perhaps arch linux, can’t remember anymore). Turns out he was missing an obscure compilation flag, which disabled some sort of optimization.

I think people managing apt repos compile programs from source as well. Might be a similar problem perhaps?

Anyway, to answer your questions:

### What exactly is `elm-li

[2017-02-05 07:26] ChristophP commented on #97
Cool, thank you for the clarification. I tried running it  from the `src` directory but when I do that it does not find the elm packages because `elm-stuff` is in the parent folder. Then it I am being prompted if I want to install the required packages in the current one. Which I don't :-/

[2017-02-05 08:05] ChristophP commented on #97
So I have done all of the previous stuff with a globally installed version of elm-live. I just installed a local one and haven't encountered the issue so far. I will test a bit more but maybe it something to do with that.

[2017-02-05 17:01] ChristophP commented on #97
It is weird however, when I start elm-live it reloads and compiles multiple times right away. Here's the console output. It reloads 3 times because stuff in my `node_modules` changed. What do you say to that? I think it really shouldn't listen to node_modules changes. But I am also not quite sure why I have so many changes in my `node_modules` in the first place :-)

[2017-02-06 13:27] tomekwi commented on #97
Yeah, it’s really weird – shouldn’t be picking up those changes. We had had problems with symlinks before, but I’ve been sure we solved them back then. Can you look at #74 and see if it seems similar?

Also, which version of elm-live are you using?

[2017-02-06 21:02] ChristophP commented on #97
Hey, sure. So the issue #74 seems similal in the sense that there seems to be more rebuilding and reloading going on than needed, but different because it isn't an endless loop for me. Looking at the output that I am getting these lines seem to be triggering that.
[code]
The first two are my files, but the others seem to be dependecies of my dependencies.
I am using elm-live `2.7.4`

[2017-02-23 23:46] tomekwi commented on #97
Hey @ChristophP, apologies for the delay – this must have slipped through inbox.

This is very weird – even the two first files shouldn’t really be picked up by the watcher. Is the project open source so we can try and reproduce this on other computers?

[2017-03-09 07:31] ooesili commented on #97
[code]

I'm getting a issue on Linux as well. Elm live starts up great, but after a handful of saves, it starts slowing down. Starting at 14ms to load `/` and eventually going into the 100s and 200s.

@ChristophP Are you by any chance using vim? It does some weird stuff when saving a file by default, and I'm wondering if it's contributing to this issue.

[2017-03-09 22:36] ChristophP commented on #97
Hey guys, sorry for the late response. @tomekwi unfortunately it isn't open source, and not something I can make available to you. I'll see if I can strip it down so I can show it to you.
@ooesili Yeah I am using vim. You think that could be related?

[2017-03-10 03:40] ooesili commented on #97
@ChristophP I think that Vim might be making it worse, but probably not the underlying issue. The reason I got suspicious is because the page reloads significantly faster when I just `touch src/Main.elm` than saving the file in Vim. I found [this interesting stackoverflow question](http://stackoverflow.com/questions/41842835/what-happens-when-i-save-a-file-using-vim) about what happens when a file

[2017-03-10 08:30] Natim opened #103 "How can we prevent elm-live from monitoring `node_modules/`?"
[code]

[2017-03-10 08:32] Natim commented on #103
Refs https://github.com/tomekwi/elm-live/pull/90

[2017-03-13 06:56] tomekwi commented on #97
Hey @ooesili, thanks so much for the help with this! Please keep us updated and let me know if I can help in any way. Also, if you can help me reproduce this issue for example by posting a docker image I can repro this on my mac with, I’d really appreciate it.

[2017-03-13 06:57] ooesili commented on #97
https://hub.docker.com/r/codesimple/elm/

[2017-03-13 07:02] tomekwi commented on #97
@ooesili I’d be grateful for [an image with code inside and steps to reproduce the problem](http://sscce.org/).

[2017-03-13 07:04] tomekwi commented on #103
Hey, thanks for opening 🙂 Can you please post more info about the version of elm-live and the OS you’re running?

Also, please read through https://github.com/tomekwi/elm-live/issues/97 for more context about picking up changes from `node_modules`. (TLDR: This is not intended and we’re still trying to put the [short, self-contained, compilable example](http://sscce.org/). Your help would be apprec

[2017-03-13 10:17] Natim commented on #103
I have no idea how to write such a test. I am bit puzzle because you seem to be using `**/*.{html,css,js}` and `**/*.elm` so I don't see why this command are monitored to be honest.

I guess a way to reproduce the test is to run elm-live in a thread and touching some files in a fake node_module/.bin repository in the meantime and see that elm-live doesn't rebuild when we do.

[2017-03-13 10:40] Natim commented on #103
After investigation it seems that the problem is coming from chokidar.
https://github.com/paulmillr/chokidar/issues/544

[2017-03-13 13:53] tomekwi commented on #97
For the record: thanks to @Natim, we’ll soon have one half of the problem worked around. Changes to symlinks inside `node_modules` should no longer be picked up once we merge that PR. Feel free to fork `github@github.com:Natim/elm-live` and check out `fix-elm-watch` to see if it makes things easier to reproduce.

[2017-03-13 13:53] tomekwi commented on #97
#104

[2017-03-13 16:07] Natim commented on #89
Why don't you add a package.json rule like that:

``"live": "elm-live Index.elm --output=public/elm/index.js --open && elm-live Dashboard.elm --output=public/elm/dashboard.js --open`` ?

[2017-03-27 07:08] ooesili commented on #97
I'm having a really hard time packaging up a reproducible example. Filesystem watching is a very OS-specific thing, so it's a not really straight forward thing to reproduce, especially since you're on a Mac. I'm experiencing this behavior running on Arch Linux with node v.7.7.3, elm 0.18, and elm-live 2.7.4. I tried creating an ubuntu based Vagrant box with a tiny elm app, but I don't experience t

[2017-03-30 19:44] tomekwi commented on #89
For the time being, there’s a cheeky npm module making it nice and easy to run two commands in parallel: https://www.npmjs.com/package/concurrently.

[2017-03-30 20:17] tomekwi commented on #97
@ooesili If the issue you’re having is related to a large number of watched files, the solution we’re currently considering at https://github.com/tomekwi/elm-live/pull/104#issuecomment-290530996 might help. Gimme a tick for a quick test.

[2017-03-30 20:22] tomekwi commented on #97
@ooesili Could you please `npm install --global tomekwi/elm-live@39acd54` and check if that fixes the file watching issue?

[2017-04-28 17:52] n1k0 commented on #97
I'm hitting the same issue as described above, I'm using Ubuntu 16.10, node v7.8.0, npm v4.5.0 and elm-live v2.7.4.

I tried to install the version mentionned in the previous comment with `npm install --global tomekwi/elm-live@39acd54`, but it failed with this error:

[code]

I'd really like to help with this bug, starting with providing feedback with possible fixes. How can I help?

[2017-06-05 08:19] Natim commented on #103
Any help on fixing this, it is really a pain while using Elm-live on a daily basis

[2017-06-07 07:37] Samatar26 opened #106 "Elm-Live not opening browser"
When running `elm-live Main.elm --open --pushstate --output=elm.js` it doesn't open the browser. The server doesn't seem to be running either at localhost:8000. Another interesting thing to note is that when I run elm-reactor I get the following error message: elm-reactor: bind: unsupported operation (Can't assign requested address)

[2017-06-07 07:46] Samatar26 commented on #106
Seem to be getting this error once in a while too:
[code]

[2017-06-07 10:11] Samatar26 commented on #106
Seems to be working now, sorry. No idea what the problem was

[2017-06-07 10:11] #106 closed

[2017-06-12 19:54] trotha01 opened #107 "Support changed symlink"
The iosphere elm i18n tool works by changing a symlink, can we have elm-live reload when the symlink changes?

https://github.com/iosphere/elm-i18n

To Reproduce:
[code]

Then
[code]

Elm-live should re-compile after switching languages

[2017-06-21 17:10] SidneyNemzer opened #108 "Cannot exit elm-live process with keyboard shortcut"
I'm unable to exit the elm-live process with `Ctrl` + `C` or `Ctrl` + `Z` on Windows when using:

* Bash on Ubuntu on Windows
* Git's built-in Bash

However, in Window's Powershell or true "Bash on Ubuntu", I CAN stop the process with `Ctrl` + `C`.

Tested on Windows 10

Any ideas what might be causing this?

[2017-06-26 04:50] tomekwi commented on #108
Hey @SidneyNemzer, thanks for reporting! Interesting – I’ve never heard of this. Have you had this issue with other programs or servers as well?

[2017-06-26 04:52] tomekwi commented on #106
Hey @Samatar26, sorry for the late response. I’m glad the first problem solved itself! Regarding the latter one, if you’re still getting that error, please open a new issue so we can track it down 🙂

[2017-06-26 16:26] SidneyNemzer commented on #108
Sorry, it turns out this is a known issue with Bash on Ubuntu on Windows. Not an issue with elm-live.

Thanks for your reply though!

[2017-06-26 16:26] #108 closed

[2017-07-26 20:28] tomekwi commented on #107
Hey Trevor, thanks so much for the heads up about this. Sorry for the delay – I got super duper busy with life over the last weeks! Luckily, those time-consuming things are mostly over, so elm-live is back to life too.

Thanks a lot for the patience! I’ll get back to you asap 🙂

[2017-07-26 21:53] tomekwi commented on #103
Fixed in v2.7.5. Really sorry for the long wait on this, it was a crazy couple of months for me! All getting slightly better now though 😄

[2017-07-26 21:53] #103 closed

[2017-07-28 23:29] trotha01 commented on #107
Thanks for the update @tomekwi , np 👍

[2017-08-10 21:58] tomekwi commented on #107
Hey @trotha01, that sounds like a useful thing to have! Two questions:

1. Does elm-i18n-switch change the file that the symlink points to? Or does it rewrite the symlink itself?
2. What’s the extension of the symlink and the file that the symlink points to?

[2017-08-16 22:05] ashishnegi commented on #97
seems to be fixed.. with latest release.. :) :+1:

[2017-08-18 00:04] tomekwi commented on #97
Yayyy! Seems like vim was actually using symlinks there then. The biggest change in the latest release was fixing the way elm-live handles symlinks. More info in https://github.com/tomekwi/elm-live/pull/104.

@ChristophP can you confirm this is now fixed?

[2017-09-21 19:49] p-salido opened #112 "--host=0.0.0.0 not usable across network"
I am running elm-live on a server and accessing the result from a laptop. In order to do this I used `--host=0.0.0.0`. However, in the rendered HTML I then see:

<pre>
<script type="text/javascript" src="//0.0.0.0:35729/livereload.js?snipver=1" async="" defer="">
</pre>

This does not work since `0.0.0.0` on the laptop I assume refers to the laptop itself, but it needs to point to the server where

[2017-10-06 22:45] tomekwi commented on #112
Hey @p-salido, thanks for reporting this! Sorry for the delay in getting back to you.

Up till now I’ve treated elm-live purely as a development server – never suspected people would want to run it on a server. Is this just a multi-machine development setup that you’ve described? Or is it a server setup that you want to open up for public access?

[2017-10-08 06:30] p-salido commented on #112
@tomekwi I have a development server on a different machine from the laptop I use for interactive work.

[2017-10-11 09:54] tomekwi commented on #112
OK got it @p-salido – makes sense. Does your server have an IP address that you can specify instead? I remember working on a similar setup before between my development machine and a phone on the same network. The way I managed to set things up was to use a static internal IP address of my development machine as the `--host`.

[2017-10-11 22:17] p-salido commented on #112
@tomekwi IP address is a workaround that works across the network, however the server maps its own hostname to 127.0.0.1 in the hosts file as is standard practice hence e.g. `curl http://server/...` from the server itself does not work, as the application listens on the network IP but not on loopback.

[2017-10-13 18:44] quangv opened #113 "LiveReload Chrome Extension"
Hi there, I dev using VirtualBox, so I use `--host=0.0.0.0`

I've never been able to just use a Chrome extension to get LiveReload to work.

Is there a way to use a plugin/extension in Chrome to get LiveReload to work?

Thanks.

[2017-10-13 20:05] tomekwi commented on #112
Oh right, I see. Do you have an idea how to solve this?

Unfortunately the LiveReload script is served from a different port by [budo](https://github.com/mattdesl/budo) – the server that we use under the hood. I looked into the possibility of referencing the port kinda relatively, without specifying the host. Turns out there’s no straightforward solution: https://stackoverflow.com/questions/601612

[2017-10-13 20:23] p-salido commented on #112
I believe webpack uses two ports in a similar fashion, perhaps looking at how it works can be instructive.

The most sensible way to go I can presently think of is to look at the value of http Host header and use the same host specified there. If no Host header is specified then use the listen address as currently happens.

[2017-10-13 20:38] tomekwi commented on #113
Yeah, this isn’t supposed to work with a LiveReload browser extension. elm-live comes with LiveReload built in and delivered as a JS snippet to the browser.

Your issue seems to be that your host IP is different to the IP that you need to access from the browser? Please have a look at #112 and check if it might be the same problem. If it is, let us know in that issue.

We’re already trying to figu

[2017-10-20 09:02] mdevlamynck commented on #97
@tomekwi Using elm-live 2.7.5 node 6.11.4 and npm 3.10.10 I still get this issue. Each time I edit a file the memory consumption and cpu usage of the node process and the reload time grows. It happens with any editor (even a simple touch on a file).

[2017-10-27 16:47] bitterjug opened #114 "Support for other budo command line args?"
Our Elm app happens also to be a PWA with a service worker.
I notice that Budo supports [SSL and HTTPS](https://github.com/mattdesl/budo/blob/master/docs/command-line-usage.md#ssl-and-https) and I wondered how easy it would be to pass through, e.g. the `--ssl` flag, `--cert` and `--key` options to the underlying server

[2017-12-09 02:32] bstanley78 opened #115 "Before/after build events that change elm files cause a second build"
I'm using **elm-format** as a before-build event, but the watcher picks up its changes and immediately kicks off a second build right as the first one finishes.

Does functionality currently exist to pause the watcher during the before/after events?

[2017-12-19 09:50] flip111 opened #117 "not recompiling after file change"
I'm in the directory where the `Main.elm` file is located. I run this command `elm-live Main.elm --host=myhost --port=8081` i see:

[code]

When i change my `Main.elm` file nothing happens. I'm sure i'm editing the right file because i see the change after i save and view it with `less Main.elm`. My OS is `CentOS Linux release 7.4.1708 (Core)`.

I guess this library makes use of some inotify mecha

[2018-01-03 06:24] Saulzar opened #118 "forget to specify directory gives page "budo""
If I accidentally leave out the `--dir` in my elm-live command line it loads but gives me an empty page titled "budo"
e.g.

`elm-live client/Main.elm --output html/elm.js --dir=html --open`

[2018-01-19 15:55] stevensonmt commented on #117
I have also been having this issue.  On saving changes to Main.elm elm-live returns the following message:
[code]
It seems to catch the file change but not recompile.  Is this some sort of permissions issue perhaps?

[2018-01-29 00:09] abradley2 commented on #97
Yeah, having this issue as well. At first I thought it might be elm-format making my editor slow but I noticed the compile times on save were matching my slowing speeds everywhere else.

I'm using elm-live 2.7.5, node v 9.4, Ubuntu 16.04

Let me know if there's any other information I could provide to help

[2018-03-31 17:38] sashaafm opened #120 "How to integrate with Phoenix Framework"
Hello there, this may be a longshot but do you have documented how to integrate `elm-live` with Elixir's Framework?

Specially if one's serving the HTML via a Phoenix Template?

Thanks!

[2018-05-30 03:46] nqthqn commented on #75
@architectcodes think we will see movement in this direction post 0.19 release? It's helpful for new users who like to guess and check during development and don't want to recover a bunch of state to see if changes they made in the code worked.

<3 Love the tool, btw.

[2018-05-30 03:48] nqthqn opened #121 "Surface compile Errors and Warnings"
... with clickable line numbers that open the file in your `EDITOR` and go to the line number :).

[2018-06-02 06:25] milesfrain opened #122 "Prevent page load if elm-test fails"
I cannot detect when `elm-test` is failing without monitoring `elm-live` terminal output, and I usually keep this terminal minimized. I was hoping to see a 404, other error, or blank page. Current behavior reloads the previous `index.html`, even if tests are failing.
I believe I tried all combinations of `--before-build` `--after-build` and `--no-recover` options.
Best workaround so far is to pass

[2018-07-04 19:16] architectcodes commented on #117
Hi @flip111 @stevensonmt, incredibly sorry for the long silence on my end! Totally my bad, I’ve been incredibly busy recently. You might have noticed if you’re following me on [twitter](https://twitter.com/architectcodes) or [linkedin](https://www.linkedin.com/in/architectcodes/) that I’m, starting a new business alongside having a full time job and a lovely little family that also deserves my tim

[2018-07-04 19:19] architectcodes commented on #97
Hey hey @mdevlamynck @abradley2, I’m terribly sorry for the radio silence on my end! Totally my bad, I’ve been super busy recently. If you’re watching me on [twitter](https://twitter.com/architectcodes) or [linkedin](https://www.linkedin.com/in/architectcodes/), you might have noticed that alongside a super intensive full time job, I’m also starting a new business. Not to mention my lovely little

[2018-07-04 19:30] architectcodes commented on #75
Thanks for the kind and encouraging words @nqthqn! I’ve been eyeing the movements towards 0.19 but couldn’t do too much to adapt elm-live to it because of the zillions of things happening in my life right now. (Super intensive startup job + building [a new business](https://homalive.com/) after hours + not to mention [my lovely little family](https://instagram.com/weloveeachotherlikemad) that dese

[2018-07-04 19:34] architectcodes commented on #121
Oh man that would be lovely!

You might have read the [comment](https://github.com/architectcodes/elm-live/issues/75#issuecomment-402547556) I pinged you in the other issue @nqthqn – would be super happy to see someone implementing this and the elm-live project getting a life of its own with a new team of owners. I’d love to support it but I now see it will be tough moving on.

[2018-07-04 19:38] architectcodes commented on #122
Hey @milesfrain, welcome to elm-live and thanks so much for reporting the issue!

If you’ve seen other issues or watched my twitter feed recently, you might notice how much is going on in my life right now. Not only with my full time startup job that’s right now more intensive than ever, but also [a business](https://homalive.com/) I’m building after hours – and a lovely little family that really

[2018-07-04 19:43] architectcodes commented on #115
Hey @bstanley78, thanks for asking! It’s not possible right now. Just out of curiosity: why are you running elm-format as a before-build event rather than using an editor integration and/or a pre-commit hook?

BTW, I’m really sorry for the super late reply. There’s a ton of things going on in my life right now: alongside a super intensive full time job I’m also building a [new business](https://ho

[2018-07-04 19:57] architectcodes opened #123 "👋 CALL FOR MAINTAINERS"
Hey lovely elm-live folks!

You might have noticed this already if you’re following me online: there’s really a ton of stuff going on in my life right now. Alongside my full time startup job that’s pretty damn intensive, after hours I’m building [a new business](https://homalive.com/). Not to mention [my lovely little family](https://instagram.com/weloveeachotherlikemad) that deserves my time more

[2018-07-04 20:29] sashaafm commented on #120
Hello @architectcodes, first of all congratulations on your new project and family.

Unfortunately I didn't find a way to do it. I may try again soon.

[2018-07-06 19:54] architectcodes commented on #123
Interesting idea @Natim! While I’m a big fan and user of create-elm-app myself, I’ve been hearing feedback about elm-live being very practical for demos and workshops thanks to its simplicity.

If there’s no interest in taking over the maintenance of elm-live, that’s what I’ll have to do. But I think there might be value in it worth keeping in the community. Let’s see what others think and if some

[2018-07-07 11:43] Natim commented on #123
I am always using elm-live for my elm projects. Archiving the project doesn't kill it it is just a strong signal that you won't be maintaining it yourself and that if someones needs anything they will have to fork it. The benefit is that it frees you instantly of the burden of thinking about it while you don't want to spend more time on it anymore.

[2018-07-10 09:01] flip111 commented on #117
@architectcodes i don't remember

@stevensonmt your issue is definitely different than mine

[2018-08-23 13:50] teodorlu opened #127 "Plans for Elm 0.19?"
Hello!

Thanks for a great tool.

I just updated to Elm 0.19, which removes the `elm-make` binary, and requires running `elm make` (with space) instead. I guess making the file name change would be simple, but do you see any other potential problems?

I noticed your call for maintainers (#123), which may effect your decision.

What do you think?

Best regards,
Teodor

[2018-08-23 13:52] bdukes commented on #127
This work is in process, via #124 and #126 😄

[2018-08-23 13:52] teodorlu commented on #127
Wops, didn't see that. Closing!

[2018-08-23 13:52] #127 closed

[2018-08-24 13:08] wking-io commented on #123
I will be the new maintainer! :) We are currently working through the transition period, but will make official trade-off soon

[2018-08-24 13:08] #123 closed

[2018-08-25 00:14] wking-io commented on #41
This was solved in PR #82

[2018-08-25 00:14] #41 closed

[2018-08-25 00:16] wking-io commented on #69
I think a good solution for this would be to start transitioning Elm-live to a command-line tool like commander. It will help with argument management and remove the need for man to run during prepublish

[2018-08-25 16:10] wking-io commented on #117
Hey!

Just wanted to check in on this issue! Are you still experiencing this?

If so could you share the repo of this project so I have a little more information about your file structure?

[2018-08-25 16:13] wking-io commented on #118
Hey!

If you leave out the `--dir` option than it defaults to the current working directory.

So you will need to make sure you are always passing in an option for that if your html file is located elsewhere.

If that is how you are using it could you send me a link to the repo you are experiencing this problem on and we can get this figured out! 😊

[2018-08-25 16:45] flip111 commented on #117
@wking-io i don't have the project anymore. But i don't think the file structure is of any interest. You can probably replicate this bug with any hello-world project on a NFS share

[2018-08-25 16:46] wking-io commented on #122
Hey @milesfrain! Just checking in on the status of this issue with you. I am taking over maintaining elm-live and am trying to do a little issue clean. I will close this issue if you are no longer dealing with this or not replying after a couple weeks. :)

[2018-08-25 21:52] wking-io commented on #117
@flip111 is this something that you would be doing again in a Elm project?

[2018-08-25 21:55] wking-io commented on #121
I plan on looking into getting this setup sooner rather than later! 👌

[2018-08-25 21:59] wking-io commented on #120
Hey @sashaafm!

Based on my first intuition I am going to make a guess that the answer is no.

Unless you are just using Phoenix as an API and your Elm code as a SPA.

However, if you are using Phoenix to render elm more as view templates then probably no. I would be interested to understand how you use Elm with Phoenix and maybe we can get a solid answer one way or the other!

[2018-08-27 09:02] milesfrain commented on #122
I'd interpret this issue as a feature request, along with a workaround for others searching for this feature.
I am just using the workaround for now, but it would be great to see this feature included in elm-live.

[2018-08-27 11:32] architectcodes opened #129 "Watch elm.json and elm-package.json"
When upgrading a codebase to Elm 0.19, I was making a lot of updates to `elm.json` (equivalent of the `elm-package.json` in Elm 0.18 and lower). It would be great if elm-live could kick off a rebuild when it notices that `elm.json` has changed.

If it also worked with https://github.com/architectcodes/elm-live/pull/119, it would all be pretty mind blowing!

[2018-08-28 06:23] BigTom opened #130 "elm-live@next looking for elm-make in Elm 0.19"
Hi,

I expect this is user error but I elm-live seems to be looking for an older version of elm (elm-make is 0.18 thing).

Running on macos high Sierra 10.13.6

Running inside my kanban project directory:

[code]
Originally tried with a global install:
[code]
It also had the same error when running.

[2018-08-28 09:34] architectcodes opened #131 "Outdated elm-lang/elm-platform references"
Hello again 👋

I just noticed that one of the failure hints still refers to elm-plaftorm and points at the [elm-lang/elm-platform](https://git.io/elm-platform) repo:

https://github.com/wking-io/elm-live/blob/fb1f8e9041c347e0630aa017ba84ab48e3827cf9/source/elm-live.js#L122-L123

Hope it helps!

[2018-08-28 14:45] architectcodes commented on #120
#128 might be related

[2018-08-28 15:06] sashaafm commented on #120
I haven't looked into this, but maybe this weekend if I have time I'll give a shot at removing `elm-brunch` from Phoenix and using `elm-live`

[2018-08-28 18:48] wking-io commented on #131
Fixed!

[2018-08-28 18:48] #131 closed

[2018-08-28 18:50] wking-io commented on #130
This is a good point! I will try and get this tested so we account for node_modules install only!

[2018-08-28 19:32] wking-io commented on #130
As far as the second issue I think that does not have to do with `elm-live`, but with external issues.

[2018-08-28 20:27] BigTom commented on #130
OK, It is OK now.  False alarm, sorry!

I suspect user error.  I cleared everything out (including elm) and reinstalled everything in sequence from **npm** and it works now.  I have a feeling from that error message that I installed the 0.18 version via a typo.

[2018-08-28 20:35] wking-io commented on #130
Awesome! Closing this issue now :)

[2018-08-28 20:35] #130 closed

[2018-08-30 16:35] G4BB3R opened #132 "Compile in url feature"
I would like to use elm-live, but it doesn't support my main use case. I need something like the old 0.18 feature to compile things from url, so in my backend view I could call:

<script type="text/javascript" src="http://127.0.0.1:8001/_compile/src/Main.elm"></script>

[2018-09-02 06:27] PascalLeMerrer opened #133 "Custom Index.html is overwritten"
Hi

I just discovered elm-live
I tried it on a small apps with ports and flags
The content of the script node is replaced with the compiled app, so the glags and port calls are lost.
How can I get this working?

[2018-09-02 12:38] sashaafm commented on #120
On this topic, I'll try to get it to work when `elm-live` is released for 0.19 and I migrate my app to it.

[2018-09-02 17:40] wking-io commented on #133
You will need to make sure you pass the `--output=elm.js` option to elm-live. This gets passed to elm make and it will compile your Elm code to a js file you will include in your index.html

[2018-09-02 17:52] PascalLeMerrer commented on #133
Works well, indeed. Thank you!

[2018-09-02 17:52] #133 closed

[2018-09-03 16:46] G4BB3R commented on #132
I don't compile Elm code in my backend, elm reactor does.
In 0.18 (obviously not production) I used to open elm reactor on port 8001, and on port 80 the backend only serves the "index.html" app which import a script with /_compile/file/path/Main.elm like above, where elm reactor compiles the given file path and returns the latest compiled app to the script html tag. If the compilation fails, `Elm`

[2018-09-03 21:13] G4BB3R commented on #132
I don't have live reload, this would be great too!
I made an SSCCE that won't work on Ellie, but you will understand:

https://ellie-app.com/3f5FphX3m5va1

[2018-09-03 22:29] wking-io commented on #132
Two Qs:

1. Is your Elm code in the same repo/source code as your backend code?
2. Do you only have one view and run Browser.application?

[2018-09-04 02:52] G4BB3R commented on #132
1. No, it's a Elixir(Phoenix) API with static file serving (including the "index.html" in root "/")
2. Yes, I use Browser.application and there is a main view that can call other 10+ views depending on current page. This dashboard is 100% SPA.

[2018-09-06 13:50] kanuku opened #134 "Reloading is not working!"
I am trying to use elm-live reload, but it does not work!
When I run the command below, the browser does open a window, but it does not serve any file.:

It says simply **FILE NOT FOUND**!

[code]

### Index.html

[code]

### Elm Application
[code]

[2018-09-07 03:03] cllns commented on #134
Not sure if it's a typo but there's an `s` missing at the end of your command:
[code]

[2018-09-07 14:41] #134 closed

[2018-09-07 14:42] wking-io commented on #134
Glad you figured this out! Thanks @cllns for the assist

[2018-09-09 11:42] Maxim-Filimonov opened #136 "Debug flag is not working"
Just installed 3.0.4 and noticed that debugging is not working anymore.
See [the video](https://app.blisk.io/screenRecords/shared/f22f29c0-bcaa-4d5e-97d6-97720d8419ca)

[2018-09-09 11:46] Maxim-Filimonov commented on #136
Rolled back a bit and found that it only works in 3.0.1 for me.
3.0.2 gives me file not found :[

[2018-09-09 17:40] Razzeee commented on #136
You need to do `elm-live src/Main.elm -- --debug`

[2018-09-11 18:12] Maxim-Filimonov commented on #136
Oh, I see that's not very obvious. Also, I wonder why this change was made?
I remember the `--` with npm drove me to using yarn

[2018-09-11 19:53] Razzeee commented on #136
To quote Will King from the elm slack:
"Yeah, this keeps elm-live from being as tightly coupled to `elm make`. All options after `--` are passed into elm-make automatically. This way we do not have to manage code for all possible elm make options and if options are added, changed, or removed we do not have to release a new version."

[2018-09-11 22:08] #136 closed

[2018-09-12 16:49] darrensiegel opened #138 "Can no longer override the default port using --port"
I did some digging and this looks like it perhaps is a bug in commander related to specifying default values, but since it is preventing elm-live users from overriding the port, you may want to work around it.

If I do:
$ elm-live src/Main.elm --port=9000

I would expect elm-live to start and serve off of port 9000.  It does not, it serves off of the default 8000.

I've submitted PR #137 to addres

[2018-09-14 13:30] wking-io commented on #120
@sashaafm sounds like @Razzeee's solution is the best way to integrate moving forward. I am going to close this issue if you do not feel the same feel free to open another issue and we can work something out!

[2018-09-14 13:30] #120 closed

[2018-09-14 13:40] wking-io commented on #132
@G4BB3R okay so based on your example if you are planning to run elm-live to replace how reactor worked before you can run this elm-live command

[code]

Obviously the `src/Main.elm` needs to be changed to wherever your `Main.elm` is located. The output command will compile you elm code to a js file in the root of your project which with elm-live means you can access that file using this script:

[2018-09-17 14:49] justgook opened #139 "Can not access html"
I have structure:
 * index.html
 * data
   * test.html

and if i start `elm-live` and navigate `http://localhost:8000/data/test.html` i got content of compiled elm, not html that i expect

[2018-09-21 04:56] SupremumLimit commented on #129
Hi Will, I'd like to address this as well as #119 (especially #119). I see there was already a PR for #119 but it needs extra work now that we have elm.json in addition to elm-package.json. Are you happy for me to open a PR when I'm done? Anything I should take into consideration?

[2018-09-25 09:22] Odalrick commented on #139
I had the same problem.

I think I traced it to https://github.com/wking-io/elm-serve/blob/edbfbb08fbeb5d7badc3e29dcaf22fe3197cbf38/lib/elm-reload-server.js#L38

Essentially regardless, if the path requested ends with "html", the index gets served.

I worked around it by changing my test file extension to "htm".

[2018-09-27 03:49] wking-io commented on #139
Hey! So are you saying that even without pushstate being turned on you are always having your index.html loaded?

[2018-09-27 03:53] wking-io commented on #129
Feel free to make a PR with what you think! I think that will be a great addition and shouldn't require any big architecture decisions so feel free to send what you got and we can review from there!

Thanks for looking into this one!

[2018-09-27 04:01] #138 closed

[2018-09-27 04:02] wking-io commented on #138
Solved with PR #137

[2018-09-27 04:03] wking-io commented on #118
Budo is no longer used in elm-live if you face a similar problem with the new update please open a new issue

[2018-09-27 04:03] #118 closed

[2018-09-27 04:06] wking-io commented on #114
We no longer use budo so I am closing this PR. If you are very interested in these feature I would love to hear about it on: https://github.com/wking-io/elm-serve and we can bubble it up to here

[2018-09-27 04:06] #114 closed

[2018-09-27 04:08] wking-io commented on #86
No activity in 2 years if you still have this problem please open a new issue

[2018-09-27 04:08] #86 closed

[2018-09-27 04:09] wking-io commented on #69
Issue should be resolved now. However, if that is not the case please open a new issue and we can get it figured out.

[2018-09-27 04:09] #69 closed

[2018-09-27 04:11] wking-io commented on #75
Closing this PR due to lack of feedback from OP. If there is still an issue you want resolved open a new PR and we will figure it out!

[2018-09-27 04:11] #75 closed

[2018-09-27 04:16] wking-io commented on #89
Hmm this is interesting. I will think about this. I think the answer here is to move outside of the CLI in a more complex use case like this.

[2018-09-27 04:27] wking-io commented on #112
Just updated to 0.19 version of plugin that should fix this issue. If that is not the case please open a new issue! :)

[2018-09-27 04:27] #112 closed

[2018-09-27 04:28] wking-io commented on #115
Haven't heard back about this issue in a while. If still an issue please open a new one and we will get this knocked out!

[2018-09-27 04:28] #115 closed

[2018-09-27 07:56] Odalrick commented on #139
An autogenerated index-file, yes, as long as the file requested has the "html" extension. At least that's the way it appears.

[2018-09-27 08:35] mdevlamynck commented on #97
@wking-io I can't reproduce the slow down and cpu usage anymore. Memory usage can rise slowly if you spam changes but when the changes are sparse enough (as in a user makes the changes and not a script made to spam changes) the GC does its job and keep memory usage pretty low.

So I'd say this release fixed the issue, at least for me. Thanks!

[2018-09-27 11:30] wking-io commented on #139
@Odalrick @justgook Do either of you have a repo where the issue happens I can take a look at and test around?

[2018-09-27 11:59] justgook commented on #139
is example not enough ?

[2018-09-27 12:05] wking-io commented on #139
Oh sure, but if you had an exact representation of your project then I wouldn't have to set anything up and would be able to know without a doubt when I solve your issue! 😊 If you don't that is fine I can set something up. Just want to make sure I get this figured out for you both.  👌

[2018-09-27 12:06] Odalrick commented on #139
I created a minimal example in https://github.com/Odalrick/automatic-spork

To recreate the problem as I have it run
`yarn run test-test-dev`
and go to http://localhost:8000/src/html/test-test.html

http://localhost:8000/src/html/test-test.htm works, but notice that the reload script is manually added.

[2018-09-27 12:29] wking-io commented on #139
@Odalrick I removed the reload script from `test-test.html` and ran the command and it worked exactly as expected. Live reload and the page loaded as expected. Am I missing something?

[2018-09-27 13:00] Odalrick commented on #139
That's very strange.

What _I_ get is:

![screen shot 2018-09-27 at 14 58 42](https://user-images.githubusercontent.com/222897/46147527-fbfdcd80-c265-11e8-9fc3-78b6b58baa22.png)

compared to what I expect:

![screen shot 2018-09-27 at 14 58 29](https://user-images.githubusercontent.com/222897/46147550-0750f900-c266-11e8-82b5-3a36cf5a0442.png)

[2018-09-27 13:15] Odalrick commented on #139
To be clear, the script runs for on the "html" page, it's just that the static content around the element isn't there, presumably because it sends the index page.

[2018-09-27 13:34] wking-io commented on #139
This is what I see when I run it:

<img width="903" alt="screenshot 2018-09-27 08 32 12" src="https://user-images.githubusercontent.com/11789828/46149492-11f09b80-c230-11e8-923e-8a7b976ae87c.png">

[2018-09-27 13:55] Odalrick commented on #139
This is amazing, I added some console.log to https://github.com/wking-io/elm-serve/blob/edbfbb08fbeb5d7badc3e29dcaf22fe3197cbf38/lib/elm-reload-server.js#L42 .

    const finalpath =
      (pushstate || pathname === '/' || pathname === '')
        ? (dir + '/' + startPage)
        : (dir + '/' + pathname);
    const test =
      false
        ? (dir + '/' + startPage)
        : (dir + '/' + pathna

[2018-09-27 14:38] Odalrick commented on #139
I found it!

    console.log('pushstate', pushstate)
    console.log('typeof pushstate', typeof pushstate)

    pushstate false
    typeof pushstate string

pushstate is the _string_ "false", which is of course truthy.

Maybe our versions of minimist has changed some detail in defaults? You can of course see the exact version I have in the yarn.lock file.

Seems appropriate that the problem is som

[2018-09-27 14:41] wking-io commented on #139
Hahah I know right! :Thanks for finding the problem! I will get a fix figured out and shipped over on `elm-serve`

[2018-09-27 14:56] wking-io commented on #139
Okay just pushed update! Try elm-live 3.0.6 and let me know!

[2018-09-30 03:43] wking-io commented on #139
Closing issue @justgook. Let me know if this issue wasn't resolved for your case with the new release.

[2018-09-30 03:45] wking-io commented on #97
Okay closing for now! If this issue remains please open a new issue referencing this one and we will go from there. 👌

[2018-09-30 03:45] #97 closed

[2018-10-01 07:18] justgook commented on #139
clone - https://github.com/justgook/justgook.github.io/tree/develop
Start:
`elm-live src/Main.elm --open --pushstate --dir=./gh-pages -- --debug --output=./gh-pages/bundle.js`

open: http://localhost:8000/wizardry/level - you will see - that all pages that is level.html, is redirected to index.

[2018-10-01 11:44] wking-io commented on #139
Looks like you are using the `--pushstate` option. That option is what turns on the feature where all paths in the URL are redirected to the index.html on purpose so that `Browser.application` handles routing clientside. Just remove that option and it will turn that off

[2018-10-01 13:28] justgook commented on #139
dosent it should redirect to index.html only files that not exist in tree?

[2018-10-03 12:39] wking-io commented on #139
I do not know if I am following?

[2018-10-03 12:47] justgook commented on #139
idea is that im have some webpage, that should redirect to index page, if it try access page that not exist, that is basic pattern of SPA.. all pages that is 404 - should get instead index.html:200

but now im getting index.html, each time, when i try request any html page (IMPO that is wrong)

[2018-10-03 13:27] wking-io commented on #139
So what you would expect when using `--pushstate` is that any url without an extension (html, css, js) should auto serve the index.html, but if you use a url with an extension it should deliver that page?

[2018-10-03 14:29] trotha01 commented on #107
@wking-io I can go ahead and close. I'm not currently using elm-i18n or doing changes with symlinks. Thanks for following up.

[2018-10-03 14:29] #107 closed

[2018-10-04 07:40] justgook commented on #139
NO - my expectation is that any file that exist must be served, and if it not exist it must serve index.html (IMPO that is how any SPA works)

[2018-10-05 09:18] Skinney opened #141 "Error in 3.0.6 published version?"
I just tested out the 3.0.6 version of elm-live. According to the tag in git, it would seem that 3.0.6 includes the PR by alexkorban that watches files found in `elm.json`s source directories. However, when checking `node_modules/elm-live` it seems to be an older version.

So, either an older version of elm-live has been published under the 3.0.6 version, or the 3.0.6 tag is wrong?

[2018-10-05 12:56] wking-io commented on #141
I have not fully tested the functionallity added by Alex. The 3.0.6 is for a `--pushstate` bug-fix. When I get done testing out the feature added by Alex I plan on releasing 3.1.0

[2018-10-05 12:56] Skinney commented on #141
Ahh, ok. My bad :)

[2018-10-05 12:56] #141 closed

[2018-10-05 12:58] wking-io commented on #141
Not a problem! Thanks for checking I very well could have forgot and that would have been a helpful reminder! 🙌😊

[2018-10-08 13:12] glennsl opened #142 "Output js file is opened on every rebuild"
I'm running the following command:

    elm-live src/Main.elm -- --debug --output=elm.js

On initial build it works as expected, but every rebuild will open the output `.js` file in my favorite editor, which is extremely annoying.

I'm currently on Windows, which probably matters. Any ideas?

[2018-10-08 13:47] glennsl commented on #142
Hmmm, this also happened if I started `elm reactor` without removing `elm.js` first, and stopped happening with both if I moved the output file to a subfolder, specifically `/build/elm.js'.

So yeah, not entirely sure what was going on here, or if this is a potential gotcha you should warn about, but I'll close this since I have it sorted. Feel free to reopen if you think it's something you ought

[2018-10-08 13:47] #142 closed

[2018-10-08 23:22] DougVonMoser opened #143 "Change custom index.html to something other than index.html"
I ran into this a couple times already.
It seems problematic to have any custom html files (https://github.com/wking-io/elm-live#use-a-custom-html-file) share the file name that elm make will generate and subsequently overwrite.

Perhaps custom.html can work to avoid any naming issues?

[2018-10-09 12:56] wking-io commented on #143
I do not know if I follow.

[2018-10-10 14:46] DougVonMoser commented on #143
Apologies. To be more clear:

elm-live is really neat in the sense that it supports both an html file or javascript file output from the elm make command. On top of that, when you direct elm-live to --output=elm.js, you're even able to reference your own style sheet and markup.  This is done by creating your own index.html file in the root of your project where you hook up elm.js in your html.

In

[2018-10-10 14:55] wking-io commented on #143
I think exposing the `startPage` option of elm-serve [here](https://github.com/wking-io/elm-serve#table-of-options-for-reload-opts-parameter) would solve the problem you are talking about! 😊

Would you be interested in making the PR for that @DougVonMoser?

[2018-10-10 15:03] DougVonMoser commented on #143
ah neat. and you betcha!

[2018-10-10 22:59] wking-io commented on #143
LookIng forward to your PR!

[2018-10-10 23:19] wking-io commented on #129
This was taken care of with PR #140!

[2018-10-10 23:19] #129 closed

[2018-10-10 23:20] wking-io commented on #72
This was solved with PR #140!

[2018-10-20 01:21] #143 closed, assigned to nobody

[2018-10-20 18:01] DougVonMoser commented on #143
Awesome, thanks so much!

[2018-10-21 11:04] mattiasw2 opened #145 "How to make elm-live ignore Emacs recovery and temp files"
Using elm-live 3.1.0 under Windows 10.  Use Emacs to edit file. I get 3 triggered changes for when I change one file. Since I use it under Windows, I list each individual file.

Is there anything I can do?

This is what is printed for a single change

[code]

[2018-10-25 14:44] mdevlamynck opened #146 "Question / Suggestion: Consider using elm-hot?"
[klazuka/elm-hot](https://github.com/klazuka/elm-hot) provides the low-level features for hot swapping elm code with model state preservation between reloads (only 0.19).

Would it make sense for this project to use it?

[2018-10-26 02:51] wking-io commented on #146
I have actually discussed with klazula doing just that, but haven't gotten around to it. If you are interested in taking a stab at it feel free!

[2018-11-06 14:52] wking-io commented on #139
@justgook Just released a new version that fixes this problem! Now the behavior is the following:

- If the url doesn't have an html extension it defaults to the index and lets elm handle routing
- If the url has an .html extension it will try and serve the file, but if it returns a 404 then it will serve the index and let elm handle routing

[2018-11-06 16:34] wolfadex opened #147 "Error: listen EADDRINUSE :::8000 after change to Main.elm"
When I run `elm-live src/Main.elm -e node_modules/.bin/elm -o -- --debug` everything works as normal/expected. Then when I make a change to Main.elm
[code]
such as commenting out `view : Model -> Html Msg`, the console starts repeatedly spamming:
[code]
OS: OSX 10.13.6
Node: 10.12.0

When using Node 8.12.0 the error changes to:
[code]

[2018-11-06 19:44] wking-io commented on #147
What version of `elm-live` are you using?

[2018-11-06 19:46] wolfadex commented on #147
"devDependencies": {
    "elm": "^0.19.0-bugfix2",
    "elm-live": "^3.2.1"
  }

[2018-11-06 19:59] wking-io commented on #147
So that error you are experiencing is caused generally when you have multiple processes running on the same port. Did you check to see if you had anything else running on port 8000?

This article helped me figure out if that was the problem when I did this once: https://medium.freecodecamp.org/find-and-kill-port-processes-on-a-mac-using-bash-c5e95b9e704e

[2018-11-06 20:07] Razzeee opened #148 "Print server url on start"
This is the current output I get with elm-live when starting a server:

[code]

It would be nice, to get a (clickable) link. As tools such as vscode let you click on http urls. So I would expect a http://localhost:8000 for the above.

[2018-11-06 20:20] wolfadex commented on #147
Before starting `elm-live` running `lsof -t -i :8000` displays nothing. After starting `elm-live `lsof -t -i :8000` displays 2 PIDs

[2018-11-07 14:07] wking-io commented on #147
Okay thanks for the update let me look into that! Do you have this project in a repo I can take a look at? Not able to reproduce locally for me.

[2018-11-07 14:08] wking-io commented on #148
I can work on adding that! Have you tried the `--open` flag so that you do not have to click anything?

[2018-11-07 16:14] wolfadex commented on #147
https://github.com/wolfadex/ark thanks again for all the help! I'll attempt to reproduce it on some other computers too, see if I can help narrow it down

[2018-11-07 17:06] wolfadex commented on #147
I've also tested my repo on Ubuntu 18.04 and am getting the same error, FYI

[2018-11-08 18:34] wking-io commented on #147
Thanks for the repo on other info! I will take a look into this and see what I can dig up!

[2018-11-08 18:46] wking-io commented on #147
Hey! So I cloned the repo and everything is working on my end. Could you do me a favor. Could you try installing past versions of elm-live and see if any of them start working for you?

[2018-11-08 18:46] wking-io commented on #147
That way we can maybe pinpoint where a change might have caused it.

[2018-11-09 01:13] wolfadex commented on #147
So I think it's Yarn. If I do `npm run dev` or `npx elm-live src/Main.elm -e node_modules/.bin/elm -- --debug` then everything works as expected, but running it with `yarn dev` causes the errors. I'm going to see if I can do a little more digging to better pin point the issue.

Yarn v1.12.1 btw, and thank you for all the help!

[2018-11-09 02:48] wking-io commented on #147
Ahh that is interesting. I am glad you were able to figure out what the problem was. Now I am curious what the cause is  🤔

[2018-11-09 02:53] wolfadex commented on #147
I'll try to install some earlier versions of yarn, see if there's a version that does work.

[2018-11-12 15:36] axelo commented on #147
I am experiencing the same issue with yarn 1.12.1 and 1.12.3, but works fine with yarn 1.10.1 and of course npm (5.6.0).

[2018-11-15 18:36] jligeza opened #151 "web sockets?"
I need to proxy both http (for ajax) and ws. The ws might have different proxy prefix. How can I do this?

[2018-11-15 23:33] wking-io commented on #151
Currently you can't. The server elm-live uses is `elm-serve` and it only supports a single proxyPrefix.

If you have any experience with doing this on a Node server you can hop over to https://github.com/wking-io/elm-serve and see if you can make a PR to add it. Otherwise feel free to add an issue over on that repo. 😊

[2018-11-18 18:32] aruprakshit opened #152 "elm-live not choosing the locally installed Elm 0.19"
In my package.json file I have:

[code]

When I run the script from command line, I get error.

[code]

[2018-11-18 19:00] wking-io commented on #152
Try taking out the first `--` and the second one before `--output`. There should only be one `--` before passing the `elm make` args like `--output` and `--debug`

[2018-11-18 19:20] wking-io commented on #152
Oh sorry I missed this. You are using Elm 0.19 but are using the version of elm-live that only works with 0.18. Try installing the latest version of elm-live

[2018-11-19 16:48] bstro opened #153 "--start-page flag doesn't appear to be supported"
When attempting to use the `--start-page` flag, I receive the following error:

[code]

[2018-11-19 16:55] bstro commented on #153
hah nvm, was on an old version :)

[2018-11-19 16:55] #153 closed

[2018-11-19 18:31] #152 closed

[2018-11-19 18:32] #139 closed

[2018-11-23 19:44] TheOddler opened #154 "Show errors in browser like Elm Reactor"
It would be nice if elm build errors would be shown in the browser like elm reactor does. Or did I miss functionality that's already present?

[2018-11-26 15:23] Natim commented on #147
I am glad to see it is related to yarn rather than elm live. I will use `npm run live` instead of `yarn live` for now.

[2018-11-26 18:37] wking-io commented on #154
That is a good idea! I will look into what it would take to do this. If you have any ideas feel free to comment or add a PR!

[2018-11-28 11:17] harrysarson commented on #154
I did some research into how `elm reactor` does this:

### Steps `elm reactor` takes

1. Create a server (function `run` in https://github.com/elm/compiler/blob/master/terminal/src/Develop.hs)
2. serve files
    1. serve elm files. **If there is an error call function `makePageHtml` in https://github.com/elm/compiler/blob/master/terminal/src/Develop.hs**.
    2. serve non elm files.
3. serve direc

[2018-12-08 22:45] rosensama opened #155 "How to serve HTTPS?"
In Readme.md it says that using default settings pages will be available at https://localhost:8000, but I get http://localhost:8000.   Is there a way to use HTTPS?

Thanks.

[2018-12-10 15:11] stevensonmt opened #156 ""cannot find module 'Browser'"
The error says elm-make failed. This suggests a need to change elm-live to the 0.19 syntax of `elm make` without the hyphen. The project builds fine with `elm make`.

[2018-12-13 16:21] Munksgaard commented on #155
I don't think elm-live supports HTTPS directly. However, I've used [ngrok](https://ngrok.com/) successfully as a HTTPS proxy.

[2018-12-13 16:23] Munksgaard opened #157 "CLI flag to disable reloading"
Would it be possible to add a command line flag that disables the automatic reloading on the client? I'd like for elm-live to still recompile files when they've changed, but sometimes it would be nice if the site didn't constantly refresh, ie. when I'm playing around with CSS style or something like that.

[2018-12-13 16:37] rosensama commented on #155
So maybe just a simple documentation defect in Readme.md.

[2018-12-13 17:41] Munksgaard commented on #155
I think so, but perhaps @wking-io can confirm.

[2018-12-14 13:11] wking-io commented on #155
That is an mistake in the docs. That was available on the elm 0.18 version of elm-live, but I am looking into bringing that back!

[2018-12-14 13:12] wking-io commented on #155
You can follow that feature here: https://github.com/wking-io/elm-serve/issues/4

[2018-12-14 13:14] wking-io commented on #156
If you are getting and error that says `elm-make` then you have an older version of elm-live installed. Try removing it completely from your project as well as globally then re-installing it.

[2018-12-14 14:51] wking-io commented on #155
Just released HTTPS with v3.4.0. All you need to do is use the --ssl flag to turn it on :)

[2018-12-14 14:56] #155 closed

[2018-12-15 15:06] stevensonmt commented on #156
I only have elm-live installed globally and `npm ls --global | grep elm` gives me `elm-live@3.4.0` which should be the latest version I think.

[2018-12-15 17:38] wking-io commented on #156
Yeah someone else had that issue with their global install and they had to delete the package manually and re-install.

[2018-12-25 21:07] wking-io commented on #154
I took a look at create-elm-app and they use Webpack and parse the output from the elm-loader.

I think we could make some updates to the build function to return the Elm error messages and then be able to send those to you server and have the server (elm-serve) render a custom error page using the passed elm errors.

[2018-12-29 03:13] #156 closed

[2019-01-04 16:05] glasserc opened #158 "Should fail on unrecognized flags"
Per #136, it's possible for a user to be passing the `--debug` flag to `elm-live` in an incorrect way, in which case it becomes silently ignored. Flags that `elm-live` doesn't recognize should probably cause a failure so that it's obvious what the problem is. This is especially helpful for those of us migrating from versions of `elm-live` that did in fact recognize `--debug`.

[2019-01-04 16:16] wking-io commented on #158
This is a good recommendation! I will be happy to add this! What if instead of failing there was a warning that listed all unrecognized arguments along with a message along the lines of: "Warning: Flags below were not recognized. If any of these are flags for `elm make` you will need to move them after the `--`. Otherwise you can reference the docs for help: https://github.com/wking-io/elm-live"

[2019-01-06 01:50] bstro opened #159 "Support for urls with punctuation like "localhost:8000/24.3.2""
My app needs to support the ability for urls that have periods in them. As far as I can tell (from testing on my staging server), my app code does support it, but the server that elm-live runs gives me a response of `Cannot GET /24.3.2` which leads me to believe it is an issue with elm-live's server configuration. Is there anything I can do here?

[2019-01-10 00:37] stevensonmt opened #160 "Feature request: ability to pass init flags"
I may be missing something, but currently I see no way to output from elm-live a file that accounts for necessary init flags. For instance, I have a `Browser.element` app that needs the viewport dimensions upon loading. I can accomplish this by passing
[code]
into `var app = Elm.Main.init(...);`
But every time I edit any file the output file is overwritten, causing the loss of the flags. It would

[2019-01-10 01:31] wking-io commented on #160
You will need to set the `--output` flag and specify your output as a JS file as covered here in the elm documentation: https://guide.elm-lang.org/interop

Note: make sure you are passing the `--output` flag after -- in your elm-live command

[2019-01-11 18:50] glasserc commented on #158
Sorry for the delay! This email got routed to "Spam" somehow. I don't have a strong opinion about whether unrecognized arguments should be fatal or merely a warning, but I would point out that most other programs treat unrecognized arguments as fatal, including notably `elm make` and `elm-format`.

[2019-01-14 18:15] stevensonmt commented on #160
Okay, thanks. Changing output to JS file was the step I was missing.

[2019-01-14 18:15] #160 closed

[2019-01-15 17:57] xilnocas opened #161 "--dir seems to disable --start-page"
Hey @wking-io, thanks for taking over elm-live!

I'm on `elm-live --version == 3.4.0`

If I run this command

`elm-live src/Main.elm -p 8001 -s deploy/static/index.html  -- --output=dummy.js`

`localhost:8001/` serves index.html.

However, when running this

`elm-live src/Main.elm -p 8001 -s deploy/static/index.html -d deploy  -- --output=dummy.js`

`localhost:8001` serves `File Not Found`

I will

[2019-01-15 22:58] wking-io commented on #161
Hey!

Could you try one thing for me! So, the -d flag tells `elm-serve` only the directory your index.html file is in and the -s should only need to be used if your html file has a custom name that is not index. Try:

[code]

[2019-01-15 23:45] xilnocas commented on #161
Interesting! Are you sure that's what `--dir` means? It seems to also try to serve requests for static assets _relative to the argument directory_, which is the behavior I want but was failing to get.

For example: I actually just finished getting my setup working by changing my directory structure a bit to this

[code]

and then ran this from the directory that contains `deploy`

`elm-live src/Ma

[2019-01-15 23:51] wking-io commented on #161
Ahhh I was missing the context of your overall project structure! Yeah in that case you have the right mental model.

So in your original example if you want `elm-serve` to pull assets the way you are describing but still be able to find the index.html file in a deeper folder you were only off one thing! The -s flag is relative to the -d flag. So you could tweak the original to be:

[code]

[2019-01-15 23:57] xilnocas commented on #161
Beautiful! I'll go ahead and close. Thanks for the help!!

[2019-01-15 23:57] #161 closed

[2019-02-20 07:25] mikederksen opened #162 "Html not looking for the correct relative css/js paths"
# Situation
I have the following file structure:
[code]

The `application.html` is the file in which the generated elm javascript is included. `main.js` is the javascript that is generated by `elm-live`. The package.json contains the following 'watch' script:
`elm-live -p 3002 --start-page=web/application.html src/Main.elm -- --output=web/main.js`

In the `application.html` the includes are as fol

[2019-02-21 07:22] lzrski commented on #145
Very similar issue happens with Elmjutsu (a plugin for Atom editor). It creates a temporary file at `src/ElmjutsuDumMyM0DuL3.elm` and deletes it immediately after building. This triggers Elm Live to build my code three times in short burst.

Perhaps Elm Live should have `--ignore` option?

[2019-02-25 06:00] lucarakuten opened #163 "The reloading script is not injected if the html file has a dot in its name"
I have a file named "index.start.html" and elm-live is not injecting the snippet for reloading the page:

    <script src="/reload/reload.js"></script>

Just removing the dot in the file name (for example "index-start.html") solve the issue.

[2019-02-25 12:28] harrysarson commented on #163
This error is caused by: https://github.com/wking-io/elm-serve/blob/29cef9689cb2e23e7a82a6254446aebe62937a51/lib/elm-reload-server.js#L47 an https://github.com/wking-io/elm-serve/blob/29cef9689cb2e23e7a82a6254446aebe62937a51/lib/elm-reload-server.js#L51.

(Note that these files are not actually in this repository)

Seems to me that using the built in `path` module would be the best way to solve th

[2019-02-26 10:01] magopian commented on #163
I'm not sure if it's the same issue, or even related, but you can't have a dot in the URLs at all, eg `/register/foo@bar.com` will result in the following error message:

[code]

[2019-04-02 08:49] mksmtn opened #164 "Corrupt binary"
Hi! Thanks for a great tool. There is a minor issue I'm facing. It happens very rarely, but just to let you know it exists. After I've made a change, `elm-live` says something like

[code]

Then I just stop `elm-live`, start it again and everything is working fine.

 I'm on
- node v8.10.0
- elm 0.19.0
- Ubuntu 18.04.2 LTS
- Visual Studio Code 1.32.3

[2019-04-02 12:38] wking-io commented on #164
Thank you for shooting this issue my way! Hopefully we can get this figured out. At least restarting fixes the issue, but hopefully I can find a fix so you do not have to do that :)

[2019-04-03 23:20] wking-io commented on #164
Question: Did you try deleting your elm-stuff folder and and re-installing?

[2019-04-04 07:57] mksmtn commented on #164
I've just deleted it, so I'll report if the issue happens again

[2019-04-26 21:58] AntonRich opened #165 "Elm-live permission denied."
I have this error message when I do elm-live src/Main.elm:
[code]

[2019-04-26 22:02] AntonRich commented on #165
Okay that was a permission problem, I did: sudo chmod -R 777 elm-stuff/

[2019-04-26 22:02] #165 closed

[2019-05-04 13:20] sebsheep opened #166 "Serving time increase at each compilation"
The command line im using is :
`elm-live src/Main.elm -- --output=main.js`

I have an `index.html` which links `main.js`, and my browser is on this `index.html`. I'm running this command under Debian 4.9.65-3+deb9u2, my version of elm-live is elm-live v3.0.1.

Each time I save my file, the serving time increase (even if there is in fact no change in my code except a new blank line). The following

[2019-05-12 01:21] lucamug opened #167 "elm-live taking 70% of CPU also when idle"
Recently I am getting the problem of elm-live getting around 70% of CPU resources also when is doing nothing.

I have the same issue on two macs. This problem appear around one month ago.

MacBook Pro - OS El Capitan
Node v.7.6.0
elm-live v.3.4.0

<img width="608" alt="Screen Shot 2019-05-12 at 10 16 01" src="https://user-images.githubusercontent.com/5551094/57576639-a518d180-749f-11e9-81f6-c95585

[2019-05-16 10:25] jpierson commented on #147
I'm running into this issue using npm scripts, not yarn.

ex.
[code]

OS: Windows 10
Node: v10.9.0
NPM: 6.1.0

[code]

[2019-05-16 10:42] jpierson commented on #147
Unlike others I see the same problem when running elm-live directly with npx or with node from the console.

With npx:
[code]

Directly with node:
[code]

[2019-05-25 16:16] wking-io commented on #167
Hey! I merged your PR and tested everything and it looked good! Thank you so much for looking into this and figuring out what was going on. :)

[2019-05-25 16:16] #167 closed

[2019-05-25 16:17] wking-io commented on #166
This should be fixed now thanks to @lucamug and his PR on #168. Just install `elm-live@3.4.1` and let me know! :)

[2019-05-25 16:17] #166 closed

[2019-05-26 20:26] sebsheep commented on #166
Seems to work ! thank you @lucamug & @wking-io !

[2019-05-27 00:57] lucarakuten commented on #164
This could be a race condition with other script that compile elm, for example IDE plugins

[2019-05-27 01:59] wking-io commented on #164
Oh that is a good point.

On Sun, May 26, 2019 at 7:57 PM lucarakuten <notifications@github.com>
wrote:

[2019-05-27 02:33] lucamug commented on #164
I did some testing using this snippet to monitor the elm-stuff folder:

[code]

Saving a file (I use Atom IDE) or compiling both result in:

[code]

when elm-live is running, I get something like:

[code]

..I am actually surprised not to get some issue all the time

[2019-05-27 09:17] mksmtn commented on #164
Well, I have not encountered this issue again. I guess I tried to use docker-compose for elm-live, and after facing the issue I gave it up. So maybe it should be closed?

[2019-05-27 19:10] wking-io commented on #162
Hey! So the only thing you are missing is the --dir flag. This tells the server where to serve the root of your application from. So your command will look like this:

[code]

[2019-05-28 08:25] lucamug commented on #154
I tried to investigate the implementation of this feature too (disclaimer: I have limited knowledge of node).

I was able to export a `sendMessage` function from elm-serve to elm-live that can be used to display errors in the browser (using web sockets).

The thing that I was not able to do yet is to intercept the Elm compiler error.

Elm compiler is called in elm-live/lib/src/elm-live.js with

[2019-05-28 21:12] wking-io commented on #164
Okay I will close for now, but let me know if it happens again!

[2019-05-28 21:12] #164 closed

[2019-05-29 07:16] lucamug commented on #154
I created a poc for showing the errors inside the browser:

* It show errors both in the browser and in the browser's console
* It show a spinner while Elm is compiling in the browser with a message "You've changed `Main.elm`. Rebuilding!"
* I removed the dependency on `supervisor`, now the web server is not reloading anymore but just the browser
* The refresh now happen only after a modification

[2019-05-29 11:52] wking-io commented on #154
I have been debating for awhile if I want to remove the elm-serve dependency. My original thought was it could be a standalone server that anyone could use for elm projects, but it has been more of a pain than a benefit. I think I am going to combine the server into elm-live so that we can get this feature added ASAP! :)

[2019-05-29 13:21] wking-io commented on #154
@lucamug I noticed some issues with the SSL. Looks like your updates always set SSL to false and when SSL is true in `elm-reload-server` the `reloadReturned` object returned from the `elm-reload` file is undefined. It is something to do with pem's callback not firing so I will help look into that, but we will need to get that fixed.

[2019-05-30 04:00] lucamug commented on #154
@wking-io, good catch, I didn't try the ssl version. I fixed it now but I got another problem related to it: when using ssl, it launches the server in async mode using the function `pem.createCertificate`. This makes fail my way of bubbling up the `sendMessage` function producing the error `Cannot read property 'sendMessage' of undefined`. I was not able to fix this yet. I will keep looking into i

[2019-05-31 09:11] lucamug commented on #146
Ok, I have done some experimenting about hot swap and I was able to make it working in elm-live.

Few caveats:

The script injected by elm-live need to run in the browser BEFORE the elm compiled javascript. So I moved it before everything. I am afraid this is going to break the html so we probably need to be smarter here (adding it just after `<head>`?)

We need to extrapolate the relative path of

[2019-05-31 21:25] lucamug commented on #121
Doing some test about this. I tried using this url in chrome but it just open Atom without opening the file:

atom://open?url=file:///etc/profile

at the same time this url properly open the file inside the browser:

file:///etc/profile

Is that working for you?

[2019-06-01 15:32] wking-io commented on #121
Yeah I have been looking into this one and getting it to open consistently across OS's is a tough one. Also across different editors. Because I use VSCode. I know a lot of Elm users use Atom and then there is Sublime. So this one may be tough. Do you know of any example CLI tools that do this already we can look at?

[2019-06-02 09:44] lucamug commented on #121
So, the issue above was caused by the fact that I didn't install the package "open" (oops), I though it was installed by default.

The link works well. "vscode" should work fine too using https://github.com/shengyou/vscode-handler or something similar.

This is on Mac, I don't know with other OS.

I added this feature in this branch where I am collecting all recent enhancements: https://github.com

[2019-06-05 16:41] jpierson commented on #147
After updating from `v3.4.0` to `v3.4.1` I'm seeing different behavior. Now it doesn't look like any change made in a .elm file is triggering elm-make or any activity at all. This is specific to my setup on Windows 10, I haven't tried any other environments yet.

[2019-06-07 03:49] wking-io commented on #163
These are all related! I will have a fix for this in the next release coming soon! :)

[2019-06-07 12:57] YuukanOO opened #170 "Watch pattern issue?"
Hi there! I'm currently trying Elm and find this nice project so thanks!

Just one question, I have just created a new project with `elm init` so my directory structure looks like this:

[code]

When running `elm-live src\Main.elm --open` in the root directory, only files in `src\**\*.elm` are watched for changes so whenever I change the `Main.elm` nothing happened (I'm on Windows). Shouldn't the

[2019-06-07 13:03] harrysarson commented on #170
The glob `src\**\*.elm` should include files with paths like `src\Main.elm` (the `**` pattern matches zero or more directories).

I have a suspicion that #168 has broken this - does watching work correctly if you use elm-live v3.4.0 (instead of v3.4.1)?

[2019-06-07 13:33] YuukanOO commented on #170
You were right! It works fine in `v3.4.0` :/

[2019-06-07 22:32] lucamug commented on #170
@YuukanOO, do you specify the dir that elm-live server should watch ("The base for static content")?

Which are the arguments that you use to run elm-live?

[2019-06-08 06:16] YuukanOO commented on #170
@lucamug I use the command `elm-live src\Main.elm --open`

[2019-06-08 07:42] lucamug commented on #170
@YuukanOO I tried your same configuration and it seems working on Mac. There will be a new version of elm-ui soon and this part will also be impacted so I would suggest you to stay on `3.4.0` for the time being until the new version is out

[2019-06-08 13:50] YuukanOO commented on #170
No problem! I guess it's specific to windows then, I'll try in Linux.

[2019-06-08 18:24] harrysarson commented on #170
A patch release should break something like this though

[2019-06-20 04:51] #151 closed

[2019-06-30 14:11] mikederksen commented on #162
Thanks! Running this made my browser to not be able to find some localhost file. By making a slight variation of your command I was able to run it successfully:

[code]

[2019-06-30 14:11] #162 closed

[2019-06-30 21:28] wking-io commented on #170
Hey! Sorry for the delay. I have been working on a new version of elm-live with @lucamug and as of last week I am a Father soooo things have been a little busy. :) I will try and look into why this is happening on Windows and make sure this is not happening in the new release

[2019-06-30 21:56] harrysarson commented on #170
Congratulations 🎊

[2019-07-01 07:35] YuukanOO commented on #170
@wking-io No problems, at least there is a workaround for now ;) And congrats to you! :champagne:

[2019-07-01 20:52] wking-io commented on #170
Okay so figured out what is going on. This has actually been happening for awhile and has to do with the chokidar issue here: https://github.com/paulmillr/chokidar/issues/777

It doesn't have to do with any changes we made, but the fix I believe will be to pass the `cwd` option instead of using `path.join` passing the full dir path.

[2019-07-02 07:24] YuukanOO commented on #170
@wking-io Will try and make a PR!

[2019-07-02 07:45] YuukanOO commented on #170
Actually, it is easier to replace `\` to `/` in the `getSourceDirs` method since multiple directories can be specified by the user. I know this is an uglifier fix but it works fine and shouldn't cause any issue in the future and could be removed safely when the chokidar issue will be resolved. What do you think?

[2019-07-02 12:43] wking-io commented on #170
If you can confirm that doing that solves the problem on Windows then that works for me! Make a PR and I will confirm it works on Mac and we can call it a day :)

[2019-07-24 03:10] wking-io commented on #170
This should be fixed in the new alpha! You can check the README for how to install it.

[2019-07-24 03:10] #170 closed

[2019-07-24 03:10] wking-io commented on #163
This should be fixed in the new alpha! You can check the README for how to install it.

[2019-07-24 03:10] #163 closed

[2019-07-24 03:27] wking-io commented on #159
This should be fixed in the new alpha! You can check the README for how to install it.

[2019-07-24 03:27] #159 closed

[2019-07-24 03:28] wking-io commented on #157
This should be fixed in the new alpha! You can check the README for how to install it.

[2019-07-24 03:28] #157 closed

[2019-07-24 03:28] wking-io commented on #154
This should be in the new alpha! You can check the README for how to install it.

[2019-07-24 03:28] #154 closed

[2019-07-24 03:29] wking-io commented on #146
This should be available in the new alpha! You can check the README for how to install it.

[2019-07-24 03:29] #146 closed

[2019-07-24 03:31] wking-io commented on #121
This should be available in the new alpha! You can check the README for how to install it.

[2019-07-24 03:31] #121 closed

[2019-07-24 03:36] wking-io commented on #89
The way that elm compiler handles two separate elm sources is still as one output so as this is just a live server on top of elm make I do not think we will be adding this ability to have multiple outputs. However you can already have multiple input files. To see how you can checkout the doc site at https://elm-live.com

[2019-07-24 03:36] #89 closed

[2019-07-24 03:37] wking-io commented on #70
I have decided to remove both before and after built commands in the new alpha. If this is critical to your development workflow please open an issue with your use case

[2019-07-24 03:37] #70 closed

[2019-07-24 03:39] wking-io commented on #122
I do not think that this is something that I am going to look into for the foreseeable future myself, but if anyone else would like to take a stab feel free.

[2019-07-24 03:39] #122 closed

[2019-07-24 03:40] wking-io commented on #147
This should be fixed in the new alpha! You can check the README for how to install it.

[2019-07-24 03:40] #147 closed

[2019-07-24 14:54] wking-io opened #175 "Fix font on browser message. Ligatures mess with colors."

[2019-07-25 07:00] justgook opened #176 "refresh page infinity *alpha"
create
[code]
run `elm-live ./src/Main.elm`

first run will refresh page infinity, until changes in any of files

[2019-07-25 15:40] girishso opened #177 "ERR_INVALID_ARG_TYPE Error in alpha"
Just trying out alpha version, I get following error. Any ideas?

[code]

[2019-07-25 16:24] wking-io commented on #177
What Node version are you using?

[2019-07-25 16:34] wking-io commented on #177
Try installing the new alpha and let me know if the issue is fixed!

[2019-07-25 16:40] wking-io commented on #176
That is because that is an invalid elm program. If you just open the output from running `elm make` on the same file it will show a console error and be broken.

[2019-07-25 20:28] justgook commented on #176
https://ellie-app.com/6bJTRHfKDHSa1

[2019-07-25 20:29] justgook commented on #176
BTW - same result i getting for other apps too (that is 15k LoC big, with start point of Browser.application)

[2019-07-25 20:34] justgook opened #178 "You’ve changed `elm.json`. Rebuilding! - error in json"
[code]

and after fixing it need to rerun `elm-live`.. looks like it stuck on that..

[2019-07-25 23:56] wking-io commented on #176
Hmmm interesting! Thanks for the more in depth example! I will look into that. Thanks for testing out the alpha for me too! Means a lot to get all of the help :)

[2019-07-25 23:57] wking-io commented on #178
Oooo I didn't even think about this error! I will look into this one. :)

[2019-07-26 01:11] girishso commented on #177
Tried the new alpha, now the server starts but when accessing it in browser it crashes.

I'm on Mac btw.

[code]

[2019-07-26 01:13] wking-io commented on #177
Do you have you project in a repo I can use to test?

[2019-07-26 14:49] crud-boy opened #179 "Reloading is not working"
Elm is installed using exe, elm-live is compiled and started normally, but the change of src/main.elm cannot be detected.

dir
[code]
Main.elm
[code]
custom.html
[code]

run cmd
[code]

output
[code]

[2019-07-26 19:11] wking-io commented on #179
Hmm okay I know what it going on. Tried to fix it, but must have missed something. Issue is with Glob patterns using back slashes on windows

[2019-07-30 10:09] justgook opened #180 "Not building bundle and not show readable error on missing file"
[code]

[2019-08-03 19:08] hanneskaeufler commented on #176
Seeing infinite refresh as well on my app, until I change the elm file at least once.

[2019-08-05 08:08] justgook opened #181 "--open / -o not working with 4.0.0"
` elm-live examples/Landing.elm -e ../elm-beta  --dir ./gh-pages -o --pushstate -p 8001  -- --output=./gh-pages/bundle.js --debug` - and browser not opens new tab with content
but opening it manually - all works as expected

[2019-08-06 22:15] wking-io commented on #178
Identified where this was missed and should be pushing the fix soon!

[2019-08-06 22:16] wking-io commented on #180
I've identified where this is happening and will be pushing a fix soon!

[2019-08-07 00:30] wking-io commented on #177
This should be fixed now! 👌

[2019-08-07 00:30] #177 closed

[2019-08-07 14:32] wking-io commented on #178
Fixed in latest release!

[2019-08-07 14:32] #178 closed

[2019-08-07 14:32] wking-io commented on #180
Fixed in latest release!

[2019-08-07 14:32] #180 closed

[2019-08-07 15:40] wking-io commented on #181
Fixed in most recent release!

[2019-08-07 15:40] #181 closed

[2019-08-07 15:40] wking-io commented on #179
Should be fixed in most recent release! Let me know if it isn't!

[2019-08-07 15:41] wking-io commented on #176
Fixed in most recent release!

[2019-08-07 15:41] #176 closed

[2019-08-07 15:41] #175 closed

[2019-08-08 09:04] bpizzi commented on #145
Something like --ignore-hidden for not rebuilding after changes in a hidden file (ie. name starting with a dot) seems more idiomatic (and simple to implement) to me.

[2019-08-08 09:45] tad-lispy commented on #145
@bpizzi

It wouldn't solve the Elmjutsu problem, would it?

[2019-08-08 10:01] bpizzi commented on #145
@tad-lispy indeed not, but that would fix @mattiasw2's problem.

The rational behind my remark was that hidden files are inherently tagged for being ignored (being, well, hidden), and implementing a corner case for ignoring files starting with a point seems like a quick fix, whereas a --ignore flag would be indeed a more powerful approach, but would need regexp or something like that, making it lo

[2019-08-08 13:48] wking-io commented on #145
Both of these issues are fixed! :) I was able to ignore them in the watcher and have no plans of adding an ignore flag for now, but if I start getting a lot of these requests I may think about it.

[2019-08-08 13:48] #145 closed

[2019-08-09 00:51] crud-boy commented on #179
Not only has it not been repaired, but there are also a lot of errors, which seem to be file permissions on Linux system, and no windows.

[code]

[2019-08-09 02:58] wking-io commented on #179
Looks like that is a known issue with the new version of the file watcher elm-live uses: `chokidar`

https://github.com/paulmillr/chokidar/issues/871#issuecomment-519758433

I will revert to an older version to get this working 👌

[2019-08-09 19:52] crud-boy commented on #179
Update to chokidar 3.0.2, reload function is normal

[2019-08-09 20:02] crud-boy commented on #179
New problem, code updates too fast to cause compilation errors
[code]

[2019-08-09 21:30] wking-io commented on #179
@crud-boy could you test it now?

As for that second error try deleting your `elm-stuff` and making sure that `elm-live` is finding the right version of `elm make`. Sometimes if you have an older version loaded globally it will cause issues

[2019-08-09 21:59] crud-boy commented on #179
[code]

[2019-08-19 21:08] wking-io commented on #179
@crud-boy I cannot replicate these issues are you still having trouble with any of them? Hoping to move to beta soon and these are the only issues still reported

[2019-08-28 16:30] #179 closed

[2019-09-12 16:37] sFaurite opened #186 "elm-live 4.0.0 crashes on ubuntu 18.04"
Hi, Thanks for the hard work.

The new 4.0 version seems not to work for me, it crashes with :

events.js:239
    throw new TypeError('"listener" argument must be a function');
    ^

TypeError: "listener" argument must be a function
    at _addListener (events.js:239:11)
    at Server.addListener (events.js:297:10)
    at new Server (_http_server.js:269:10)
    at Object.createServer (http.js:34:

[2019-09-15 15:24] Bernardoow commented on #186
Same here with elm-live 4.0.0

I using v8.10.0.

"elm-live": "3.4.1" works ok.

[2019-09-22 14:32] wking-io commented on #186
The current version of elm-live only supports the LTS version of node (v10) and up. I made that decision since v8 will be unsupported the end of this year.

Are you able to bump your node version up or are you locked in to v8?

[2019-09-22 14:54] Bernardoow commented on #186
Hi @wking-io !

It's ok to me to update the node version.

I suggest you to improve the readme because I skip the information about 0.18 so I skipped the information about node 10.. I think you should move this information some lines up.

[2019-09-22 17:17] sFaurite commented on #186
OK perfect, I upgraded to Node v10 and it works like a charm.

Thanks.

[2019-09-22 17:18] #186 closed

[2019-09-26 11:05] frou opened #189 ""needsJS" error assumes conjoined argument format"
This isn't a big deal, but it did cause me to scratch my head for quite a while about why I couldn't get hot-reloading working.

elm-live's error:

...is wrongly shown when the arguments for `elm make` are passed in the (valid) form A:

[code]

[Here's why it's happening](https://github.com/wking-io/elm-live/blob/2da4d8d99648289c8ba2291003333ca562794fc2/bin/elm-live.js#L55)

---

p.s. Very cool to

[2019-09-27 19:44] JesterXL opened #190 "build.js errorMsg does not exist"
Crazy edge case I know, but causes a null pointer. I'm setting up a new Mac and forgot to install Elm, lol... so that means `elm-live` is like "waaaat...".

Line 99 of build.js:
[code]

Apparently `errorMsg` doesn't actually exist in `messages.js`. Anyway, the error looks like this:

[code]

There might be a way to parse that and go "Are you sure Elm is actually installed or in your $PATH?" or som

[2019-10-02 13:57] dhershman1 opened #191 "Constantly getting Page Not Found"
When running with elm live recently I've been getting the Page Not Found a lot after each rebuild sometimes having to re run the elm-live command (and even this sometimes doesn't work)

Now I'm not 100% this is an elm-live problem because it could totally be a me problem.

What's weird is if I go to the terminal and click the link to open it from there, it works just fine? (I am using vscode)

I a

[2019-10-02 14:25] dhershman1 commented on #191
I'm going off the assumption of where I was something was using port 8000 or listening on port 8000 which was kicking me off, which explains why I wasn't seeing it before. I'm going to assume that's what the problem is currently.

[2019-10-03 20:44] 1000000000 commented on #190
It appears like there never actually was an `errorMsg` function in `messages.js`. The import appears in commit 8339d43 seemingly derived from the field of an object.

[2019-10-07 14:53] tryge opened #192 "Render difference when loading the generated `index.html` vie elm-live or opening it directly"
I prepared a repo [here](https://github.com/tryge/render-difference) that exposes the issue.

Page loaded via `elm-live src/Test.elm`:
<img width="129" alt="Screenshot 2019-10-07 at 16 51 51" src="https://user-images.githubusercontent.com/106314/66322692-ced90600-e922-11e9-8240-b1da325442d0.png">

Opening the generated `index.html` directly from the filesystem:
<img width="140" alt="Screenshot 201

[2019-10-07 15:50] #192 closed

[2019-10-08 09:45] FalconPilot opened #193 "Make all routes redirect to index.html"
Currently, the devserver only recognizes the `/` path as pointing to the generated `index.html` file. It would be really useful and pratcical for testing reasons if it was possible to actually make all routes on the devserver point to the aforementioned `index.html` file ! :)

A more detailed example : I'm building an SPA with a login page. If the user isn't logged in, he's redirected to the `/log

[2019-10-08 10:13] FalconPilot commented on #193
Oh wow, I'm mighty sorry. I just noticed that I missed the `--pushState` option for days, I must've been really distracted.

I'll just close it, sorry for the inconvenience !

[2019-10-08 10:13] #193 closed

[2019-10-11 03:48] alex-tan opened #194 "Starting elm-live with uncompilable elm prevents it from working once the elm compiles"
Whoops, never mind thought I was using elm-live on this project. Been working too long today 😓.

[2019-10-11 03:51] alex-tan commented on #194
Whoops for some reason i

[2019-10-11 03:51] #194 closed

[2019-10-16 23:35] cognominal opened #195 "stuck when starting"
I wanted to try elm-live to familiarize myself with elm.
I installed elm/html
I created a src/Main.elm by pasting the example from the elm/html.

import Html exposing (Html, button, div, text)
import Html.Events exposing (onClick)

type Msg = Increment | Decrement

view : Int -> Html Msg
view count =
  div []
    [ button [ onClick Decrement ] [ text "-" ]
    , div [] [ text (String.fromInt count

[2019-10-18 15:48] cognominal commented on #195
The program was missing a Main. I was expecting some feedback in the window.

[2019-10-21 09:05] TheOddler opened #196 "Watching css files?"
I have a setup with some css files next to my elm files. However, elm-live only seems to watch the elm files, and not the css files.

When starting elm-live it says

    Watching the following files:
        - src/**/*.elm

Is there a way to tell `elm-live` to also watch the css files?

[2019-10-30 16:43] towc opened #197 "sometimes exits or doesn't pick up changes when using vim"
Possibly related to https://github.com/wking-io/elm-live/issues/97

elm-live version 4.0.0-rc.1
vim 8.1

Sometimes when saving `src/Main.elm` with vim, `elm-live src/Main.elm` might exit unexpectedly.

It's quite rare, and I couldn't link it to any specific context. I've tried
- saving the file quickly multiple times
- saving the file after adding a few kb of the contents
- saving the file after r

[2019-11-05 09:53] laurentpayot opened #198 "Option to clear console between builds"
Elm compiler messages are quite verbose and the elm-live rebuilding message is only a couple of lines so I find it hard to distinguish what compiler messages are the current ones.
A simple `--clear` option that would clear the console before builds would really make my day. What do you think?

[2019-11-06 10:35] rjohnsondev opened #199 "Query string not ignored for static files"
So when serving with `elm-live src/Main.elm -o -u`, any static assets that contain a query string eg: `http://localhost:8000/static/bootstrap.min.css?12345` returns the contents of `index.html`.

I think that the expected behaviour in this case would be to serve the static file as per `http://localhost:8000/static/bootstrap.min.css`.

This issue only presents in version 4, I've reverted back to 3.

[2019-11-07 18:39] davidg88007 opened #200 "SyntaxError: Unexpected token ..."
When trying to run the sample from [Front End Masters, Intro to Elm v2](https://frontendmasters.com/courses/intro-elm)

[code]

[2019-11-07 21:25] sli commented on #200
Based on your nvm path, you're using a version of Node that doesn't support the spread operator on objects. Update it to a more recent version -- at least v8.6 -- and it should be fixed.

[2019-11-16 10:39] logisin opened #201 "Unexpected error"
elm-live post-app/Main.elm --pushstate -- --output=elm.js

elm-live:
  Server has been started! Server details below:
    - Website URL: http://localhost:8000
    - Serving files from: C:\Users\other\beginning-elm

Error parsing result:  SyntaxError: Unexpected token e in JSON at position 0
    at JSON.parse (<anonymous>)
    at ChildProcess.<anonymous> (C:\Users\other\AppData\Roaming\npm\node_mod

[2019-11-16 10:43] logisin commented on #201
With Elm 0.19.1 the error changes to:
C:\Users\other\AppData\Roaming\npm\node_modules\elm-live\lib\src\build.js:103
      reject(errorMsg(model.elm, error, model.recover))
             ^

TypeError: errorMsg is not a function
    at ChildProcess.<anonymous> (C:\Users\other\AppData\Roaming\npm\node_modules\elm-live\lib\src\build.js:103:14)
    at ChildProcess.emit (events.js:198:13)
    at ChildPro

[2019-11-18 14:06] Wolfsun opened #202 "Question: Caching?"
Does Elm-live cache files? I'm getting a module import error, I've modified the file so there is no mention of this module but I'm still getting the same compile error. Restarting elm-live does not help, also deleting and recreating the module file doesn't register either.

`-- MODULE NOT FOUND --------------- /home/user/Code/Elm/Swapi/src/CustomScalarCodecs.elm

You are trying to import a `Swapi.

[2019-11-18 14:08] Wolfsun commented on #202
I'm being an idiot!

[2019-11-18 14:08] #202 closed

[2019-11-28 07:28] sullyj3 opened #203 "TypeError at startup (WSL)"
[code]

[2019-12-03 22:38] lucamug opened #204 "Few new features that could be added"
Adding this as placeholder for few features that could be added:

* QR Code for development on mobile phones
* Animation while the code is compiling
* Logo in terminal
* Link in browser to open directly the file with error in the text editor
* Different color palette when error are on light/dark background

Most of these feature are implemented in this branch, to be used only as reference:

https:

[2019-12-04 16:19] JustForFun119 commented on #190
I ran into a similar problem trying to start elm-live (and elm) installed on local node_modules directory.
I also agree that the `errno` or `code` field on error could be checked for "ENOENT" and "EACCES".
I am running this via WSL1 Bash on Windows.

Inspecting `error` object in `proc.on('error')` callback inside build.js:
[code]

[2019-12-08 01:03] epfahl commented on #203
Anything on this? Running Elm 0.19.1.

[2019-12-12 14:16] adauguet opened #205 "Crash on reload: undefined path"
Hi, I have been using elm-live for quite some time, and today I have encountered an error. My project structure is a bit more complex than usual. I am trying to make two app sharing some code, the main app and a back office. Here is the project structure:

[code]
I run the following command at the root of the project:
`elm-live ./ecluse/src/Main.elm -u -- --output=ecluse/elm.min.js`

elm-live star

[2019-12-27 09:53] AndrewEdgar opened #206 "Error In Command - Output In Wrong Location"
Hello,

I'm following the "Beginning Elm" tutorial and ran into an elm-live command error during this chapter [https://elmprogramming.com/saving-app-state.html](https://elmprogramming.com/saving-app-state.html)

The error was as follows:

`elm-live post-app/Main.elm --pushstate -- --output=elm.js

Usage: <elm-main> [options] [--] [elm make options]

-- Output In Wrong Location -----------------

Y

[2019-12-28 19:49] DoctorRyner opened #207 "--dir option doesn't work"
[code]

[2019-12-30 04:15] brynlewis commented on #206
I have the same issue. If I run the example in the --output command:

$ elm-live src/HomePage.elm -- --output=elm.js

I get the same error:

----------------------
|| ERROR IN COMMAND ||
----------------------

Usage: <elm-main> [options] [--] [elm make options]

-- Output In Wrong Location -----------------

Also, why is the usage citing <elm-main> ?

[2020-01-09 03:05] glasserc opened #209 "elm-live assumes any URL ending in .com is a static file"
In my project, I have a registration flow that takes the user to a URL like `http://localhost:8080/awaiting-confirmation/username@example.com`. Doing `pushUrl` from the Elm side works fine. However, refreshing this page in the browser causes an error: `Cannot GET /awaiting-confirmation/username@example.com`.

I believe this is due to the code here that analyzes the URL to determine what file type

[2020-01-16 11:45] Darker7 opened #211 "--hot blanks the page after a manual reload"
If I load a file using --hot and manually reload the page then I get an empty page.

elm-live --version: 4.0.1
Browser: Opera (v66.0.3515.27)
OS: Linux Mint 19.2 Tina

[2020-01-31 00:36] lucamug commented on #211
@Darker7 , do you get any error in the console?

I am having similar issue and I am getting the error
[code]

<img width="595" alt="Screen Shot 2020-01-31 at 9 34 30" src="https://user-images.githubusercontent.com/5551094/73502646-01949600-440d-11ea-97c8-d9aaa2c74af5.png">

<img width="826" alt="Screen Shot 2020-01-31 at 9 34 47" src="https://user-images.githubusercontent.com/5551094/73502656-0659

[2020-01-31 22:03] jonsa commented on #206
You get this error because you're running the command in `PowerShell`. You need to qoute the double dash by either `'--'`, `"--"` or `` `--``. You will get an [`Error 'console' is undefined`](https://osric.com/chris/accidental-developer/2016/06/node-js-error-console-is-undefined/) but it can be ignored.

My suggestion is to either run the command using `cmd` if you want a stand-alone terminal or c

[2020-02-05 07:10] Samuelote commented on #196
Same question here. It would almost completely abolish my need for webpack, if elm-live v4 supported live css updates (as well as sass/scss if we're getting really fancy).

[2020-02-09 23:42] codesections commented on #211
I have also encountered this issue.  I do not get the `hasOwnProperty` error in the JavaScript console; instead, I get

[code]

[2020-02-11 14:52] klazuka commented on #211
@wking-io can you update elm-hot in your `package.json` to version 1.1.4 (or relax the constraint to include patch releases)? See https://github.com/klazuka/elm-hot/issues/40#issuecomment-584672342

[2020-02-12 16:00] #201 closed

[2020-02-12 16:04] wking-io commented on #206
Thanks for the info @jonsa. That will be the fix for anyone looking into this issue.

[2020-02-12 16:04] #206 closed

[2020-02-12 16:05] wking-io commented on #198
This sounds like a good first PR for anyone interested! Otherwise, I will look into adding this on my next round of updates.

[2020-02-12 16:06] wking-io commented on #196
This sounds like a good feature! We can add that in. If anyone would like to take a stab at it go for it. Otherwise, I will get to it during my next round of updates. :)

[2020-02-12 16:17] wking-io commented on #209
This is a very good point and something that I didn't have a lot of cases to test the edges of. Would love your thoughts on solutions for this in the code. :)

[2020-02-12 16:18] wking-io commented on #207
Could you share the command that you ran and a link to the repo so I can test this?

[2020-02-15 17:22] clarkware opened #212 "invalid man entry when installing elm-live@prev"
This is a great tool - thank you for making it! I've happily used it for several years.

I'm doing a fresh install of elm-live@prev and getting this error:

$ npm install -g elm-live@prev
/usr/local/bin/elm-live -> /usr/local/lib/node_modules/elm-live/bin/elm-live.js
npm ERR! invalid man entry for package elm-live@2.7.5. man=/manpages/elm-live.1

npm ERR! A complete log of this run can be found in

[2020-02-16 13:15] mapmarkus commented on #207
I think I found what could be the cause of this issue, as well as some others that are still open (#205, #195).

I was getting the same error, running this command:
[code]

**After I added the an `index.html` file to `public/`, the error went away.**

It seems `elm-live` expects an `index.html` file to exist in the directory specified with `--dir`, if it's missing, it crashes with this error.

[2020-02-20 08:24] lucamug commented on #211
This issue can be close, it has been fixed.

Thank you @klazuka and @wking-io

[2020-02-21 03:35] #211 closed

[2020-03-01 08:16] eniac314 commented on #203
upgrading node to the latest stable version fixed it for me.
https://stackoverflow.com/questions/24068035/node-js-https-createserver-throws-typeerror-listener-must-be-a-function

[2020-03-12 13:50] tj opened #217 "HTML doctype gets removed"
I'll try and find out what the issue is, maybe it's live-reload, but it looks like when you have a custom html page with `<!doctype html>` it gets removed, which can mess with CSS class case sensitivity etc

[2020-03-18 09:41] lucamug opened #220 "Not reloading when the url has some parameter"
In case the url is something like:

http://localhost:8001/index.html?a=b

It seems that this snippet is not inserted.

    <script src="/reload/reload.js"></script>

In start.js:

    } else if (url.isType(CONTENT_TYPE)) {
      readFile(url.getPath, 'utf8')
        .alt(readFile(url.rootpath, 'utf8'))
        .fork(resolveNotFound(res), resolveWith(model.reload, res))

`url.isType(CONTENT_TYPE` i

[2020-03-18 09:43] lucamug commented on #220
Could also be somehow related to https://github.com/wking-io/elm-live/issues/199 ?

[2020-03-22 17:15] angusdavisadobe opened #221 "exception when running elm-live"
When running elm-live with latest version, I get an exception:
node --version
v8.9.4

elm --version
0.19.1

elm-live --version
4.0.2

elm-live src/Picshare.elm --open
events.js:239
    throw new TypeError('"listener" argument must be a function');
    ^

TypeError: "listener" argument must be a function
    at _addListener (events.js:239:11)
    at Server.addListener (events.js:297:10)
    at new

[2020-03-22 21:58] olenitsj opened #223 "elm make seperator -- is not seen as a commandpormpt argumnt in powershell unless."
When running: `PS C:\Users\Igor\Documents\sources\repos\com.olenitsj> .\node_modules\.bin\elm-live.ps1 src/Main.elm -e node_modules/.bin/elm -- --output=main.js`
on Windows 10, powershell.

## Results in:
[code]

![image](https://user-images.githubusercontent.com/31991339/77261510-385d8e80-6c8f-11ea-9880-4c61c20ee112.png)

## The work around:

Quoting --
e.g. `PS C:\Users\Igor\Documents\sources\re

[2020-03-23 15:49] angusdavisadobe commented on #221
sorry. found a similar issue already raised. As suggested, upgrading to latest node.js fixed the problem.

[2020-03-23 15:49] #221 closed

[2020-04-02 00:39] dbj opened #224 "elm-live returns nothing when running in a docker container"
## Setup
* elm-live 4.0.1
* Site image built from the node:13.12.0-buster-slim image
* Docker run maps host port 8000 to container port 8000
* Container runs and executes: `elm-live ./src/Main.elm --dir=./static --pushstate -o -- --output=./static/assets/js/elmsite.js --debug`

## Reproduce
* Connect from the host : http://localhost:8000 and literally nothing is returned from the server

## Expect

[2020-04-02 23:22] dcellucci commented on #224
I found that adding `--host=0.0.0.0` to the elm-live options (before the `--`) fixed this for me.

[2020-04-06 04:50] lucamug opened #225 "Error in console using hot-reload"
Is it only me that is getting this error?

"main-with-debugger.js:65597 Uncaught ReferenceError: module is not defined"

<img width="602" alt="Screen Shot 2020-04-06 at 13 44 22" src="https://user-images.githubusercontent.com/5551094/78523846-1296c480-780d-11ea-81fc-5aec1886649f.png">

<img width="472" alt="Screen Shot 2020-04-06 at 13 44 41" src="https://user-images.githubusercontent.com/5551094/

[2020-04-06 09:25] lucamug commented on #225
I eventually found that this issue is coming from this other issue (https://github.com/wking-io/elm-live/issues/220) that I opened in the past. When my index.html has parameters, the automatic reload stop working...

[2020-04-06 09:25] #225 closed

[2020-04-10 08:44] tgelu opened #226 "Documentation mistake on proxy flag names"
Both the `README.md` and https://www.elm-live.com/ mention two flags `--proxy-host` and `--proxy-prefix` but the `elm-live --help`` refers to them in camel case `--proxyHost` and `--proxyPrefix`. It appears that the camel case is the correct name which means the documentation is mistaken.

Took me a long while to notice this :(

[2020-04-10 09:15] kraklin commented on #225
I ran into this issue right now without having any query parameters, I have just turn on the hot reloading on simple one Elm file app :(

[2020-04-10 09:31] kraklin commented on #225
If I start `elm-live` with `--open` parameter it works, only when I manually reload the page I cannot see any of the page content.

[2020-04-14 19:31] davnn commented on #196
Have a look at my PR (https://github.com/wking-io/elm-live/pull/227) to test this feature and/or improve it.

[2020-04-14 22:31] wking-io commented on #226
Thank you for pointing this out! I will get this updated 👌

[2020-04-14 22:33] wking-io commented on #223
Thanks for finding this bug! I will have to take a look. Maybe we can remove the need for it altogether 👌

[2020-04-15 17:58] tgelu commented on #226
This package is an excellent tool btw. Thank you for maintaining it! 🤓

[2020-04-30 22:01] rlefevre opened #229 "JS output not recognized when using `--ouput FILE` instead of `--output=FILE`"
When running **elm-live** `4.0.2` with the following command:
[code]
The following error is returned:
[code]
The external javascript file output is not detected.

This works if the following syntax is used:
[code]
with `--output=FILE` instead of `--output FILE`.

I would have expected both syntaxes to work.

#### Versions
* elm-live: 4.0.2
* elm: 0.19.1
* OS: Ubuntu 18.04 LTS

[2020-05-02 19:36] confusingbits commented on #207
@mapmarkus I just wanted to thank you for sharing what you learned. I ran into this exact issue and all I had to do was remove the `--start-page=public/index.html` option (which was pointing to my custom index.html) to match your solution and now it works like a charm.

I not sure how we could clarify how this behavior in the docs, but seems like this it might be a common source of frustration.

[2020-05-04 20:52] abrevinci opened #230 "Not actually building when it says it does"
When running with elm-live, as soon as I make a change it says it is building and succeeds. But the change does not appear in the built elm.js file. Also, if I intentionally introduce a compilation error, elm-live still reports success. Here is the command I am using:

elm-live src/Main.elm --pushstate -- --output=elm.js

Am I missing something or is this an actual bug? I am running version 4.0.2

[2020-05-04 20:55] abrevinci opened #231 "Constantly opening elm.js after every "build""
For some reason, every time elm-live says that it rebuilds (it actually never does but that is a separate issue) it opens the elm.js file in whatever editor is associated with js files. Extremely annoying and I can't figure out how to turn it off. If someone desires this bug/feature, please make it a toggle.

[2020-05-17 01:09] asett0 commented on #224
Correct me if my terminology is wrong. Docker assigns dynamic IP addresses to its containers. Because of this you need to specify `--host=0.0.0.0`. `0.0.0.0` is essentially an alias to listen on all IP addresses.

[2020-05-17 01:16] asett0 opened #232 "Error thrown when trying to run elm-live through Docker"
Hi,

I'm trying to run `elm-live` through a docker container but am getting the following error when trying to access my application on localhost.

This is the `Dockerfile` I'm using
[code]

and attached below is an image of the error message I receive
![image](https://user-images.githubusercontent.com/23555332/82133460-06941e80-981f-11ea-9576-ee9289dcb875.png)

Thanks in advance for taking the ti

[2020-05-17 01:43] asett0 commented on #232
Tried switching to a `debian:buster-slim` and got the following error
![image](https://user-images.githubusercontent.com/23555332/82133803-a901d100-9822-11ea-87d1-cff40d761a8d.png)

However after switching to just a `debian:buster` image it seems to work fine :).

Are there any plans for making "official" elm-live images on docker hub? I personally would love to use something like that.

[2020-05-17 02:10] asett0 commented on #232
So turns out this error had nothing to do with the base image.. I just needed to wait for the server to compile the files first and wait for this message.

![image](https://user-images.githubusercontent.com/23555332/82134109-a012fe80-9826-11ea-9f1d-7568156b80e8.png)

I'm so sorry!

[2020-05-18 03:45] dbj commented on #224
Of course. Thank you for pointing that out. :).

[2020-05-18 03:45] #224 closed

[2020-05-18 15:44] mb00t commented on #197
:set backupcopy=yes
~/.vimrc set backupcopy=yes

[2020-05-19 01:28] #232 closed

[2020-06-04 10:21] TSFoster commented on #196
For people who want this in the meantime, you can achieve something similar with a bit of a hack. Watch the dir/file for changes and `touch` an unimported dummy elm file whenever it changes.

Examples:

[code]

[code]

Here's a simplified version of a `Makefile` in a project I'm working on, which lets me use `make dev` to start `elm-live` and `scss --watch`, and trigger a reload when the css chang

[2020-06-28 15:49] giulianok opened #234 "[QUESTION] Plans for tests"
I saw that there are no tests yet but there's a `test.js` file, telling me that it was initially planned https://github.com/wking-io/elm-live/blob/master/lib/test.js.

I would like to know more about it and help to achieve it.

I would also like to know if JS will still be the language to go and if there's any plan to either use a typed superset like Typescript or use another FP language like Hask

[2020-07-06 08:59] lucamug opened #235 "elm-live crash when a file is not found instead responding with a 404"
If you try an url for a non existing file, for example: http://localhost:8000/xyz/index.html

elm-live will stop with  the error:

[code]

Could be related to

https://github.com/wking-io/elm-live/issues/207
https://github.com/wking-io/elm-live/issues/205
https://github.com/wking-io/elm-live/issues/195

[2020-08-17 07:47] francisdb commented on #235
I can confirm this issue. I saw it after checking a fresh repo and freshly installing elm-live. I guess it was trying to load the index before it was fully built

[code]

[2020-08-19 15:32] ostwilkens commented on #230
I am also experiencing this. I need to remove elm.js and re-save my code for it to actually build.

[2020-08-20 13:01] lucamug commented on #230
This should not be the case. Are you able to share your setup?

[2020-08-20 22:38] ostwilkens commented on #230
I'm running elm 0.19.1 on w10, not using parameters. This only happened when I was using the --output parameter.

[2020-08-20 23:38] lucamug commented on #230
The output parameter is a very common parameter that everybody use. So I think is about something else. It is difficult to tell without any other information.

[2020-08-20 23:55] ostwilkens commented on #230
I just tried just doing `elm make src/Main.elm --output elm.js`, which is broken as well, so I guess this isn't (exclusively) a problem with elm-live. Elm-live does say the compilation is successful though, which is misleading.

First build:

Build when elm.js exists:

Have no clue what's going on here.. seems like elm.js is being executed instead of overwritten? I should open a ticket over at elm

[2020-08-21 03:59] lucamug commented on #230
"Compiled in DEV mode..." is usually a message you get in the browser console. Are you getting that message in the terminal?

[2020-09-02 09:15] choonkeat commented on #231
I suspect the command line is `elm` and it unfortunately attempt to execute the `elm.js` found

[2020-09-09 14:00] ostwilkens commented on #230
@choonkeat That makes a whole lot of sense! I'm not able to test it right now, but you're probably correct.

[2020-09-12 04:50] bcb opened #241 "Support multiple proxies"
Also requested in #151

[2020-09-17 02:00] Caleb-Irwin commented on #231
@choonkeat that worked for me. Any idea where the problem is?

[2020-10-02 14:16] frou commented on #229
Indeed - It's a dupe of #189

[2020-11-11 11:51] weickmanna commented on #196
Based on the work above from @TSFoster, I created a bash script.
We use IntelliJ and Gradle. So we have a Gradle run configuration for elm live, and we configured it such that it will automatically run the watch script beforehand.

Attention: To prevent duplicate watches I kill all the existing entr processes beforehand. Use at your own discretion.

[code]

[2020-11-12 07:32] laurentpayot commented on #196
I use the `touch` trick with [chokidar-cli](https://github.com/kimmobrunfeldt/chokidar-cli)  in the following npm script to compile my sass files _and_ refresh css files in elm-live:
[code]

[2020-11-17 11:35] konnik opened #244 "Option to ignore self signed certificates in proxied services"
I have configured elm-live to proxy /api to https://myservice.example.com which uses a self signed certificate.

Requests for /api leads to the response

   "502 Bad Gateway"

and

     "Proxy failure : self signed certificate in certificate chain"

is shown in elm-live's console output.

Changing the cert is unfortunately not an option for me so an option to ignore self signed certs would be grea

[2020-11-25 10:25] DavidDTA opened #245 "elm-live adds "undefined" text to the document"
This is what my html looks like:

[code]

I have confirmed that the "undefined" text does not appear when using `elm make`

[2020-12-16 19:13] francois90 opened #246 "Reload snippet not inserted when using --proxy-host"
I'm using Elm with a Django backend, and i'd like to be able to use the html file that is served by django with elm-live, but when using the --proxy-host frag the reload snippet isn't added to the html...

I tried specifying a --start-page but it seems like it is ignored also when using --proxy-host.

This is the command i'm using :
elm-live src/Main.elm --proxy-host=http://127.0.0.1:8000/ --proxy

[2020-12-16 19:48] francois90 commented on #246
I ended up adding the reload script in the django template and it works well. But still it seems like elm-live should handle that...

[2020-12-23 09:21] Odalrick opened #247 "file watcher does not work on mounted docker volumes"
This isn't a bug in elm-live, rather an unfortunate side effect of how docker works.

However I'm hoping there is an option to use polling for file watching that could be implemented quickly just by adding a command line option along the lines of nodemon: https://www.npmjs.com/package/nodemon#application-isnt-restarting

[2020-12-23 16:10] andrew-pyle opened #248 "Release that bumps `http-proxy` to >=1.18.1"
I'm getting dependabot PRs on my application repositories because of this package's dependency on `http-proxy@1.17.1` (as of `elm-live@4.0.2`).

I see that the `master` branch already includes the bump from `http-proxy@1.17.1` to `http-proxy@1.18.1`, as suggested in [Denial of Service Advisory for `http-proxy`](https://www.npmjs.com/advisories/1486).

Can we get a quick patch release which include

[2020-12-29 05:23] Erudition commented on #207
Looks like I had to do the same thing. The `--dir` option works, but the `--start-page` option does not. I had it set to "www/webapp.html" because I didn't want an accidental elm build without parameters to overwrite my html file (since it defaults to index.html as well) so I renamed it webapp.html.

Had to revert back to index.html and remove the start-page option to get it to not crash on certai

[2021-01-02 17:01] Odalrick commented on #247
I finally had some time to look at this and found two things: it _was_ as easy to fix as I hoped it would be; and my original problem was me writing the wrong paths. Docker works fine with file watching.

Regardless the option to use polling might be useful for someone else and here is a pull request. #249

[2021-01-03 19:08] shamansir commented on #89
Would also be useful for testing libraries wrapped in `Platform.worker`, where the test or example itself is Elm application and Worker is another Web Application with no view.

[2021-01-25 03:50] pptang commented on #248
I'm facing the same issue as above, anything I can help to move this forward?

[2021-01-31 00:24] NickGeek commented on #248
It's already been fixed here, the maintainer just will need to `npm publish`.

[2021-01-31 00:27] NickGeek commented on #248
@pptang In the mean time, you can change the line in your package.json to `"elm-live": "https://github.com/wking-io/elm-live#07f422fbf05f01a9b30b1a078a44bd63cb56ce1c"` to refer to the git repo instead of the repository.

[2021-01-31 14:12] erlandsona commented on #235
Anyone have a fork with this fixed? Been dealing with this same issue as well.

[2021-02-11 22:35] lucamug commented on #235
At work we use `elm-go`, a clone that we made to fix some issues of `elm-live`

[2021-02-26 15:03] Laurensdc opened #250 "Not refreshing when specifying Elm file in folder. Only watches /src folder for changes."

[2021-02-27 22:34] petesantos commented on #206
I am seeing this issue as well and am not using powershell. I tried adding quotes, but that did not solve the issue. Any help would be appreciated!

[2021-03-02 18:34] wolfadex commented on #207
I think there's a couple different issues here. When using `--output=app.js` you don't automatically get an `index.html` and so you have to provide your own. That itself isn't a bug but how the Elm compiler works.

Separately there's an issue with `--dir` and `--start-page` conflicting with each other. `--start-page` is, I think, automatically scoped to `--dir` which prevents from running with the

[2021-03-06 22:21] wking-io commented on #248
Sorry! Been taking a break and need to bundle up a number of fixes. I will get this pulled in and publish a release.

[2021-03-06 22:33] wking-io commented on #245
I will take a look at this! Do you have a repo that can reproduce this bug?

[2021-03-06 23:02] wking-io commented on #247
I think I will leave this until someone else has this issue. It is intended to only be a development tool locally and want to keep features and flags from bloat unless there are a large number of necessary use cases.

[2021-03-06 23:02] #247 closed

[2021-03-08 03:29] Erudition commented on #207
If you were referring to me, I know that's how the --output works which is why I didn't want my index.html overwritten if I ever were to forget that parameter when building.

But the second thing you mentioned may be an issue, but not one that would crash with the message this thread is about.
The "not found" error is different and slightly less cryptic.

[2021-03-09 17:20] wolfadex commented on #207
The error I get when I use the options `--dir=public --start-page=src/index.html` is

[code]

which is the same error as the first message in this thread.

[2021-03-14 20:16] oliverroer opened #251 ""-- --output=elm.js" not working as expected in PowerShell"
I'm currently going through [this chapter on elmprogramming.com](https://elmprogramming.com/saving-app-state.html).

Half-way through, it instructs me to run the following command:
[code]

When doing this in PowerShell (tried both with version 5.1.19041.610 and 7.0.0), I get the following output:
[code]

The workaround seems to be to add double-quotes around the `--` separator like so:
[code]

I'v

[2021-03-24 03:16] smarwei opened #252 "Only certain known filetypes are served"
For example, a file named test.conf will be accessible, while test.cfg will simply redirect to index.html.

Is it intended to be that way?

[2021-03-25 17:17] eapyl commented on #251
saved my day, thank you for the workaround!

[2021-04-26 15:40] Ploppz commented on #133
@wking-io I get this error when I try that

[code]

[2021-04-26 15:53] PascalLeMerrer commented on #133
Try
[code]
Everything before -- is for elm live; everything after -- is passed to the elm compiler as parameters.

[2021-04-26 15:58] Ploppz commented on #133
Yep that worked, thanks

[2021-04-26 16:42] Ploppz opened #253 "Proxying does not work"
Proxying does not seem to have any effect in my project.
The following files make a fully reproducible example.
I have an API running on localhost:8443 and want to send request over there by specifying only the path part of the URL.

`elm.json`
[code]

`index.html`:
[code]

`Main.elm`:
[code]

Then I run:
[code]

Problem is that in Firefox debugging window under Network tab I can see that it actua

[2021-04-27 00:46] julianpistorius commented on #253
This is correct. The browser makes a request to `http://localhost:8000/api/v1/measurements`, served by `elm-live`. Then under the hood the `elm-live` server will proxy the request to `http://localhost:8443/api/v1/measurements`.

[2021-04-27 07:49] Ploppz commented on #253
Ah, I understand.

But I still have a problem: The requests it sends return 404.

For example I see in the Network tab `GET http://localhost:8000/api/v1/measurements` that resulted in 404.
But if I run `curl http://localhost:8443/api/v1/measurements`, it is successful.

[2021-04-27 08:24] malaire commented on #253
It looks like proxy prefix is deleted from URL: https://github.com/wking-io/elm-live/blob/master/lib/src/start.js#L187

i.e. `http://localhost:8000/api/v1/measurements` would be proxied to `http://localhost:8443/v1/measurements` with `--proxy-prefix '/api'`

[2021-04-27 08:43] Ploppz commented on #253
Huh, that makes little sense. Thanks for figuring that out.

Now I'm unsure how I can achieve what I want:
I want to locally run the app with `elm-live` and proxy all requests to an API running on a different port.
In production, I want the same Elm code to send a request to the path part of URL: `/api/v1/`, so if it's running on `example.com` and sends a request to `/api/v1/something`, it gets se

[2021-04-27 18:52] julianpistorius commented on #253
@Ploppz Add `/api` to the proxy-host as well, like so:

[code]

See https://www.elm-live.com/#getting-started and scroll down to documentation for `--proxy-prefix`:

[2021-04-27 18:54] Ploppz commented on #253
Ahh missed that, sorry

[2021-04-27 18:54] #253 closed, assigned to nobody

[2021-04-27 18:55] julianpistorius commented on #253
No problem! Glad to hear you're up & running. 👋

[2021-06-23 14:09] matheus23 commented on #226
Pretty sure OP had this issue because of an API change between versions.
I had a similar issue:
I was running elm-live version 4.0.2 (`pnpx elm-live --version > 4.0.2`), but I looked at the help text via `elm-live --help`, which documented `--proxyHost`, but I that's an old help text for an older version: `elm-live --version > 3.4.1`.

Running `pnpx elm-live --help` gives the correct help texts.

[2021-07-03 22:14] DavidDTA commented on #245
This repo produces the issue: https://github.com/DavidDTA/timetrack

[2021-07-13 05:22] prescottbreeden commented on #206
If you are running a unix shell, I've only gotten it to work by doubling the dashes:

`yarn elm-live src/Main.elm -- -- --output=main.js`

nice little variety to off-by-one bugs :)

[2021-07-13 05:42] prescottbreeden opened #259 "Yarn: Output In Wrong Location when using -- --output='file.js'"
There is a bug in the arg parsing that requires doubling the number of double-dashes to add elm make flags:

`yarn elm-live src/Main.elm -- -- --output=main.js`

This looks to be because yarn removes double-dashes on inputs:
`warning From Yarn 1.0 onwards, scripts don't require "--" for options to be forwarded. In a future version, any explicit "--" will be forwarded as-is to the scripts.`

[2021-07-13 22:17] lucamug commented on #259
Is this for all OSs?

[2021-07-14 00:58] prescottbreeden commented on #259
I believe it's yarn specific, have not tested outside linux but i can test later

[2021-07-19 12:00] mb00t commented on #195
The file name main.html also crashes. use for example index.html and app.js )))

[2021-08-03 21:56] tankorsmash commented on #196
Would be nice to have this supported natively with a flag

[2021-09-10 18:52] not-my-profile opened #261 "Support multiple elm apps (mains)"
Let's say you have a file `Foo.elm` with:

[code]

and a second file `Bar.elm` with:

[code]

`elm make` let's you compile both apps to a single output file:
[code]

Unfortunately this apparently doesn't work with elm-live as it requires a single main.

[2021-09-21 20:04] mrbalov commented on #225
I also had a similar issue setting up routing. Appeared that the problem was in relative paths in the `index.html`. So, I changed
[code]
to
[code]
and it solved my problem. Hope this will help you.

[2021-11-04 00:41] tankorsmash opened #262 "Saving the same file over and over again quickly causes problems"
In my day-to-day editing of an Elm file, fairly often the js fails to reload properly so the page crashes. I can reproduce it in my medium sized project pretty consistently by spamming CTRL-S in my editor.

It seems like the websocket gets cut off early instead of sending the whole reloaded js file or something. Occasionally the JS error is 'unexpected end of input in main.js', but sometimes it's

[2021-11-04 02:23] tankorsmash commented on #262
Hacked a workaround until this is resolved. In my `index.html`, instead of putting the `main.js` in a `<script>`, I create it dynamically, and then in `script.onload`, I check to make sure `Elm` is defined, otherwise I change the scripts `src` to `main.js?tries=1` etc. The downside is this requires a hack to change elm-live's `start.js`'s `parseUrl` to ignore querystrings for the target:

[code]

[2021-11-28 05:36] tankorsmash commented on #262
I've made some changes to elm-live's `build.js` to hack around this issue. It seems to be some sort of issue with either elm fighting with another sub process of elm make in `runElm`, so a solution I'm using is setting a global variable to `true` when its building, and `false` when its done.

[code]

then runElm turns into

[code]

This effectively just kills elm-live when it tries to build while

[2022-02-01 19:45] olenitsj commented on #231
An other solution, that worked for me:

Change the default program for opening .js files to notepad. Now when I am using Visual Studio code. Elm.js does not open.
The solution provided by @choonkeat did not work for me as the file is generated by elm-pages. I have no control about the output filename.

[2022-03-11 02:16] tankorsmash commented on #154
I wanted to drop by and say thanks for implementing this. Using the elm-webpack-loader hurts because of how nice elm-live is with its error output!

[2022-04-14 10:29] YievCkim opened #269 "anchors seem broken in documentation"
Hello !

anchors on the documentation seem broken. Web site is https://www.elm-live.com/ but anchors give https://www.elm-live.com/undefined#getting-started.

Not a big deal. Just signal it.

Great app ! 😄

[2022-04-14 11:38] Qluxzz opened #270 "elm-live renders empty page, elm reactor renders correctly"
Minimum repro:
1. `elm init`
2. `elm install hecrj/html-parser` (installed version 2.4.0)

[code]
Result:
`elm reactor`: `Success!`
`elm-live src/Main.elm`: blank page, neither `Success!` nor `Failed!` is rendered.

Substituting the `<head></head>` for (to my knowledge) any other existent or nonexistent tag, makes `elm-live` works as expected and shows `Success!` or `Failed!` respectively.

[2022-04-24 15:42] eric-create commented on #212
@clarkware did the problem just vanish or what was the solution? I am having a quite similiar problem (with respect to npm link) with another package and google gives me not anything else  when searching for "invalid man entry" except this issue here.

[2022-05-06 17:06] ccomb commented on #197
Thanks !! It's the solution, indeed, but it doesn't explain the problem.  I had the same error with any live-reloading solution, and it was due to the elm file being rewritten by a vim plugin reformatting the source file at each save:  The plugin uses a temporary file and during the short time the source file does not exist, elm-live thinks it is gone, then end up with an error (MODULE NOT FOUND).

[2022-05-12 08:57] mihkell commented on #89
I have a long running process in Platform.worker. So would be nice, if I could add those to elm-live watch list as well.

[2022-07-02 17:30] agirorn commented on #130
I'm encountering this issue using elm 0.19.1 installed from [Homebrew](https://brew.sh/) also from the one installed using yarn (globally and locally)

This seems to be fixed in [elm-go](https://github.com/lucamug/elm-go)

[2022-07-06 10:02] nyan-cat commented on #207
Hello from 2022. In fact --dir option works fine. The problem is error description, which is absolutely useless. When you use --dir with --start-page together, you should use --start-page path relative to --dir path, not the current one. I hope you'll fine a couple of minutes to write another catch statement with proper error description.

[2022-08-30 06:26] kwshi opened #272 "Hot-reload mode completely blank"
Running a basic elm project created from scratch with `elm init` and a single `src/Main.elm` with the following contents:
[code]

Expecting to see a page with just the text "hello world".  This works correctly when I run `elm-live src/Main.elm`, but it doesn't work when I run `elm-live --hot -- src/Main.elm`: instead I get a blank page with nothing showing, and the console shows a `myDisposeCallba

[2022-10-19 01:01] DbCrWk commented on #207
@wolfadex this was incredibly helpful!

If the docs could be updated to clarify that `--start-page` is scoped to `--dir` automatically, that would be great.